<div id="main-wrapper">
  <div id="main" class="container">

    <div class="row margin-top">
      <div class="col-xs-12">
        <a href="/solutions.shtml" class="button btn">
          <i class="fa fa-reply"></i> Back to solutions
        </a>
      </div>

      <h2 class="major col-xs-12"><span>Are you tired of waiting on checks to
          arrive?</span></h2>
    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-4 col-sm-offset-4 margin-top">
        <h4 class="text-center">Ready to get started?</h4>
        <a onClick="scrollToContact()" class="button btn btn-block">
          <i class="fa fa-thumbs-up"></i> Get a free consultation today
        </a>
      </div>

      <div class="col-xs-12 col-sm-4 col-sm-offset-4 margin-top">
        <h4 class="text-center">Still Not Convinced?</h4>
        <a href="/pricing.shtml" class="button btn btn-block">
          <i class="fa fa-search"></i> Check out our pricing
        </a>
        <h4 class="text-center margin-top">or</h4>
        <a href="/testimonials.shtml" class="button btn btn-block">
          <i class="fa fa-users"></i> Read our Customer Testimonials
        </a>
      </div>
    </div>

  </div>
</div>
