<div id="main-wrapper">
  <div id="main" class="container">

    <div class="row margin-top">
      <div class="col-xs-12">
        <a href="/solutions.shtml" class="button btn">
          <i class="fa fa-reply"></i> Back to solutions
        </a>
      </div>

      <h2 class="major col-xs-12"><span>Do you need custom software developed?</span></h2>
    </div>

    <p class="row">
      Mershon Enterprises LLC is a software technology powerhouse with over 10
      years of experience in web application development, industrial
      applications (SCADA/HMI), systems integration, and technical talent
      recruiting for all your project needs.
    </p>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h4>Custom Software Development, delivered:</h4>
        <ul>
          <li>on time</li>
          <li>within budget</li>
          <li>without defects</li>
          <li>hassle free</li>
        </ul>
        <h4>We have a proven track record of success in the following
          areas:</h4>
        <ul>
          <li>Billing and Invoicing</li>
          <li>Custom Automation</li>
          <li>Mobile Application Development</li>
          <li>Server Migrations</li>
          <li>Utility Scripting</li>
          <li>Virtualization</li>
          <li>Web Application Development</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-8">
        <h3>We are experienced in the following technologies:</h3>
        <table>
          <tbody>
            <tr>
              <td>Angular.js</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/angular-icon.png"
                       alt="Angular.js" />
              </td>
              <td>ASP.NET</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/aspnet-icon.jpg"
                       alt="ASP.NET" />
              </td>
              <td>AWS</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/aws-icon.png"
                       alt="Amazon Web Services" />
              </td>
            </tr>
            <tr>
              <td>Clojure</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/clojure-icon.png"
                       alt="Clojure" />
              </td>
              <td>Cordova</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/cordova-icon.png"
                       alt="Cordova" />
              </td>
              <td>.NET</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/dotnet-icon.png"
                       alt=".NET" />
              </td>
            </tr>
            <tr>
              <td>Epicor Prophet21</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/epicor-icon.jpg"
                       alt="Epicor Prophet21" />
              </td>
              <td>Geotab</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/geotab-icon.jpg"
                       alt="Geotab" />
              </td>
              <td>Grails</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/grails-icon.png"
                       alt="Grails" />
              </td>
            </tr>
            <tr>
              <td>HART IP</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/hart-ip-icon.png"
                       alt="HART IP" />
              </td>
              <td>HTML 5</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/html5-icon.png"
                       alt="HTML 5" />
              </td>
              <td>Ionic Framework</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/ionic-icon.png"
                       alt="Ionic Framework" />
              </td>
            </tr>
            <tr>
              <td>iOS</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/ios-icon.jpg"
                       alt="iOS" />
              </td>
              <td>MailChimp</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/mailchimp-icon.jpg"
                       alt="MailChimp" />
              </td>
              <td>MySQL</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/mysql-icon.png"
                       alt="MySQL" />
              </td>
            </tr>
            <tr>
              <td>NetSuite</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/netsuite-icon.png"
                       alt="NetSuite" />
              </td>
              <td>NodeJS</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/node-icon.png"
                       alt="NodeJS" />
              </td>
              <td>PostgreSQL</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/postgres-icon.png"
                       alt="PostgreSQL" />
              </td>
            </tr>
            <tr>
              <td>RadStudio</td>
              <td>
                <img class="img-responsive image"
                     src="/images/technologies/rad-studio-icon.jpg"
                     alt="RadStudio" />
              </td>
              <td>ReactJS</td>
              <td>
                <img class="img-responsive image"
                     src="/images/technologies/react-icon.png"
                     alt="ReactJS" />
              </td>
              <td>SendGrid</td>
              <td>
                <img class="img-responsive image"
                     src="/images/technologies/sendgrid-icon.png"
                     alt="SendGrid" />
              </td>
            </tr>
            <tr>
              <td>Stripe</td>
              <td><img class="img-responsive image"
                       src="/images/technologies/stripe-icon.png"
                       alt="Stripe" />
              </td>
              <td>Wild Apricot</td>
              <td>
                <img class="img-responsive image"
                     src="/images/technologies/wild-apricot-icon.png"
                     alt="Wild Apricot" />
              </td>
              <td>WordPress</td>
              <td>
                <img class="img-responsive image"
                     src="/images/technologies/wordpress-icon.png"
                     alt="WordPress" />
              </td>
            </tr>
          </tbody>
      </table>
    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-4 col-sm-offset-4 margin-top">
        <h4 class="text-center">Ready to get started?</h4>
        <a onClick="scrollToContact()" class="button btn btn-block">
          <i class="fa fa-thumbs-up"></i> Get a free consultation today
        </a>
      </div>

      <div class="col-xs-12 col-sm-4 col-sm-offset-4 margin-top">
        <h4 class="text-center">Still Not Convinced?</h4>
        <a href="/pricing.shtml" class="button btn btn-block">
          <i class="fa fa-search"></i> Check out our pricing
        </a>
        <h4 class="text-center margin-top">or</h4>
        <a href="/testimonials.shtml" class="button btn btn-block">
          <i class="fa fa-users"></i> Read our Customer Testimonials
        </a>
      </div>
    </div>

  </div>
</div>
