<div id="main-wrapper">
  <div id="main" class="container">

    <div class="row margin-top">
      <div class="col-xs-12">
        <a href="/solutions.shtml" class="button btn">
          <i class="fa fa-reply"></i> Back to solutions
        </a>
      </div>

      <h2 class="major col-xs-12"><span>Do you have cashflow headaches?</span></h2>
    </div>

    <p class="row" style="margin-top: -45px">
      Are you tired of waiting on checks to arrive? Would you like to accept
      credit cards for your services, without the Merchant Account
      headaches?<br/><br/>

      We offer a simple, easy to use subscription billing solution for your
      customers. With just a few lines of code, we are able to add bill pay
      widgets with plan selection, card management controls, and statement
      information into any website. It's so good, <strong>we use it ourselves!</strong>
    </p>

    <div class="row" style="margin-top: -30px">
      <h4 class="col-xs-12">We currently support the following platforms</h4>
      <div class="col-xs-12 row">
        <figure class="col-xs-6">
          <img src="/images/technologies/quickbooks-windows-icon.jpg"
               alt="QuickBooks for Windows" /><br/>
          <caption>QuickBooks for Windows</caption>
        </figure>
        <figure class="col-xs-6">
          <img src="/images/technologies/netsuite-icon.png"
               alt="NetSuite" /><br/>
          <caption>NetSuite</caption>
        </figure>
      </div>
      <h4 class="col-xs-12 margin-top">In Development</h4>
      <div class="col-xs-12 row">
        <figure class="col-xs-12 col-sm-4">
          <img src="/images/technologies/quickbooks-online-icon.jpg"
               alt="QuickBooks Online" /><br/>
          <caption>QuickBooks Online</caption>
        </figure>
        <div class="col-xs-12 col-sm-8">
          Don't see the one you need? <a href="javascript:scrollToContact();">Let us know!</a>
        </div>
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-xs-12 col-sm-6">
        <h4>Online Subscription Billing, without the Fuss</h4>
        <ul>
          <li>Accept Credit Cards, right on your website
            <ul>
              <li><strong>NO</strong> redirects to other websites</li>
              <li>Match the buttons to the existing style and colors of your
                brand</li>
            </ul>
          </li>
          <li>Keep your website as-is!
            <ul>
              <li><strong>NO</strong> server changes or backend framework
                changes required</li>
              <li><strong>NO</strong> database changes required</li>
              <li>We'll install it for you</li>
            </ul>
          </li>
          <li>Let customers sign-in with social media accounts or email
            <ul>
              <li><strong>NO</strong> username/password management headaches</li>
              <li>Capture customer social media accounts and emails for notices
                and remarketing campaigns</li>
            </ul>
          </li>
          <li>Send custom-tailored emails at time of charge or subscription.
            <ul><li>Send from your domain and email address</li></ul>
          </li>
          <li>Send automatic bill reminders before your customers are charged!</li>
        </ul>
      </div>
      <figure class="col-xs-12 col-sm-6">
        <caption><h3 class="text-center">Easily customized to fit your brand</h3></caption>
        <img class="img-responsive image"
          src="/images/solutions/automatic-bill-pay.jpg"
          alt="Real Subscription Billing Widget" />
      </figure>

      <div class="row">
        <h2 class="major col-xs-12"><span>Get started today with a free 14-day trial</span></h2>
        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4>1 - 49 customers: $49/month</h4>
            </div>
            <div class="panel-body" id="buy-automatic-bill-pay-button-container-1-49">
              <ul>
                <li>Flat Rate from Us</li>
                <li>No Contract required!</li>
                <li>Standard Stripe Transaction Fees
                  <ul>
                    <li>2.9% of Sales</li>
                    <li>$0.29 per transaction</li>
                  </ul>
                </li>
                <li><strong>NO</strong> setup fee</li>
                <li>Integration to your website <strong>INCLUDED</strong></li>
                <li>Integration to your accounting package <strong>INCLUDED</strong></li>
                <li>Access to our API at no additional cost</li>
              </ul>
              <!-- injected by Patchwork -->
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4>50 - 99 customers: $99/month</h4>
            </div>
            <div class="panel-body" id="buy-automatic-bill-pay-button-container-50-99">
              <ul>
                <li>Flat Rate from Us</li>
                <li>No Contract required!</li>
                <li>Standard Stripe Transaction Fees
                  <ul>
                    <li>2.9% of Sales</li>
                    <li>$0.29 per transaction</li>
                  </ul>
                </li>
                <li><strong>NO</strong> setup fee</li>
                <li>Integration to your website <strong>INCLUDED</strong></li>
                <li>Integration to your accounting package <strong>INCLUDED</strong></li>
                <li>Access to our API at no additional cost</li>
              </ul>
              <!-- injected by Patchwork -->
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4>100 - 999 customers: $219/month</h4>
            </div>
            <div class="panel-body" id="buy-automatic-bill-pay-button-container-100-999">
              <ul>
                <li>Flat Rate from Us</li>
                <li>No Contract required!</li>
                <li>Standard Stripe Transaction Fees
                  <ul>
                    <li>2.9% of Sales</li>
                    <li>$0.29 per transaction</li>
                  </ul>
                </li>
                <li><strong>NO</strong> setup fee</li>
                <li>Integration to your website <strong>INCLUDED</strong></li>
                <li>Integration to your accounting package <strong>INCLUDED</strong></li>
                <li>Access to our API at no additional cost</li>
              </ul>
              <!-- injected by Patchwork -->
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4>1000+ Customers: $519/month</h4>
            </div>
            <div class="panel-body" id="buy-automatic-bill-pay-button-container-1000">
              <ul>
                <li>Flat Rate from Us</li>
                <li>No Contract required!</li>
                <li>Standard Stripe Transaction Fees
                  <ul>
                    <li>2.9% of Sales</li>
                    <li>$0.29 per transaction</li>
                  </ul>
                </li>
                <li><strong>NO</strong> setup fee</li>
                <li>Integration to your website <strong>INCLUDED</strong></li>
                <li>Integration to your accounting package <strong>INCLUDED</strong></li>
                <li>Access to our API at no additional cost</li>
              </ul>
              <!-- injected by Patchwork -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
