<footer id="footer" class="container">

  <div class="row">
    <div class="col-xs-12">
      <section>
        <h2 class="major"><span>Contact Us</span></h2>
        <img src="images/mec_logo_long_small.png" style="max-width: 75%; margin: auto;" />
      </section>
    </div>
    <div class="col-xs-6">

        <form>

          <div>
            <label for="name">Name</label>
            <input name="name" type="text" /><br>
          </div>

          <div>
            <label for="company">Company</label>
            <input name="company" type="text" /><br>
          </div>

          <div>
            <label for="email">E-Mail</label>
            <input name="email" type="email" /><br>
          </div>

          <div>
            <label for="message">Message</label>
            <textarea name="message"></textarea><br>
          </div>

          <div>
            <input type="submit">
          </div>
        </form>

    </div>
    <div class="col-xs-6">
        <ul class="contact_info">
          <li><strong>Phone</strong><br/><a href="tel:+16614259099">(661) 425-9099</a></li>
          <li><strong>Email</strong><br/><a href="mailto:supports@mershonenterprises.com">support@mershonenterprises.com</a></li>
        </ul>
    </div>
  </div>

  <div class="row 200%">
    <div class="col-xs-12">

        <section>
          <h2 class="major"><span>Follow us</span></h2>
          <ul class="contact">
            <li><a href="https://facebook.com/mershon.enterprises" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://plus.google.com/118422838433657907306/about" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://www.linkedin.com/company/mershon-enterprises-llc" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </section>

    </div>
  </div>

  <div id="copyright">
    <ul class="menu">
      <li>&copy; Mershon Enterprises LLC</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>

</footer>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
    (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
  r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
  }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60164153-1');
  ga('send', 'pageview');
</script>

<!-- CDNify dependencies go here. -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- <script src="scripts/init.js"></script> -->
<!-- <script src="scripts/app.js"></script> -->
<!-- <script src="scripts/controllers/supportTraining.js"></script> -->
<!-- <script src="scripts/controllers/home.js"></script> -->
<!-- <script src="scripts/controllers/main.js"></script> -->
<!-- <script src="scripts/controllers/consulting.js"></script> -->
<!-- <script src="scripts/controllers/products.js"></script> -->
<!-- <script src="scripts/controllers/pricing.js"></script> -->
<!-- <script src="scripts/controllers/company.js"></script> -->
<!-- <script src="scripts/directives/footer.js"></script> -->
<!-- <script src="scripts/directives/header.js"></script> -->
