<!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<nav id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="nav-logo navbar-brand" href="/">
        <img class="nav-logo" src="/images/mec_logo_long_small.png" />
      </a>
      <span id="navbar-phone">
        <a href="sms://+16615270593">
          <img src="/images/icons8-sms-50.png" alt="SMS" width="30" height="30" /> 661-527-0593
        </a>
      </span>
      <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#navbar-menu"
                            aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="menu navbar-nav">
        <li class="visible-xs">
          <a href="/"><i class="fa fa-home"></i> Home</a>
        </li>
        <li id="menu-testimonials">
          <a href="/testimonials.shtml"><i class="fa fa-users"></i> Testimonials</a>
        </li>
        <li id="menu-solutions">
          <a href="/solutions.shtml"><i class="fa fa-handshake-o"></i> Solutions</a>
        </li>
        <li id="menu-pricing">
          <a href="/pricing.shtml"><i class="fa fa-money"></i> Pricing</a>
        </li>
        <li id="menu-about">
          <a href="/about_us.shtml"><i class="fa fa-users"></i> About Us</a>
        </li>
        <li id="menu-customer-portal">
          <a href="/customer_portal.shtml"><i class="fa fa-user"></i> Customer Portal</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
