<meta name=description content="Mershon Enterprises LLC is a Bakersfield
  software technology powerhouse with over 10 years of experience in web
  application development, industrial applications (SCADA/HMI), systems
  integration, and technical talent recruiting for all your project needs.">
<meta name=keywords content="software, software development, bakersfield,
  web development, SCADA, mobile applications, apps, programmers,
  technical, ios, android, developers, recruit, consultant">
<meta name="viewport" content="width=device-width">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
<link rel="stylesheet" href="/styles/style.css" />
<link rel="stylesheet" href="/styles/style-desktop.css" />
<link rel="stylesheet" href="/styles/style-mobile.css" />
