<!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<nav id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="nav-logo navbar-brand" href="/">
        <img class="nav-logo" src="images/mec_logo_long_small.png" />
      </a>
      <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#navbar-menu"
                            aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/consulting.shtml">Clients</a></li>
        <li><a href="/products.shtml">Products</a></li>
        <li><a href="/pricing.shtml">Pricing</a></li>
        <li><a href="/support_training.shtml">Support &amp; Training</a></li>
        <li><a href="/company.shtml">Company</a></li>
        <li><a href="http://www.building-bakersfield.com">Blog</a></li>
      </ul>
    </div>
  </div>
</nav>
