<div id="main-wrapper" style="margin-top: 50px;">
  <div id="main" class="container">

    <header>
      <h2 class="major"><span>About Mershon Enterprises</span></h2>
    </header>

    <div class="row 200%">
      <div class="col-xs-12">

        <p>Mershon Enterprises was founded February 2015, but has roots that
        tie back to summer of 2003. Kevin Mershon, a Bakersfield native, started
        his career as a software developmer at Krummrich Engineering in the
        Metro Centre off Truxton Ave. at the age of 18. Over the course of the
        next ten years, Kevin learned the ins and outs of the petroleum,
        shipping, finance, and automation industries, trained over a dozen
        developers as apprentices, and designed and maintained at least as many
        software systems.</p>

        <p>Today, Mershon Enterprises is transitioning into a
        <strong>"Platform as a Service"</strong> company, though we still
        provide a a lot of ongoing support and generalized custom software
        development to clients local and afar.</p>
      </div>
    </div>

    <header>
      <h2 class="major"><span>Meet the Team</span></h2>
    </header>

    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <img class="image featured" src="images/team/kevin_mershon.jpg">
      </div>
      <div class="col-xs-6 col-sm-9">
        <h2 class="member-name">Kevin Mershon
          <a href="https://www.linkedin.com/in/kevinmershon"><i class="fa fa-linkedin-square"></i></a>
          <a href="http://github.com/kevinmershon" target="_blank"><i class="fa fa-github"></i></a>
          <a href="https://twitter.com/kevin_mershon" target="_blank"><i class="fa fa-twitter"></i></a>
        </h2>
        <h3>Founder, President</h3>
      </div>
      <div class="col-xs-12 col-sm-9">
        <p>Kevin Mershon is a 31-year-old software developer, tech
        enthusiast, and entrepreneur. He identifies primarily as a back-end
        developer, and is currently a self-proclaimed fanboy of Clojure. He
        founded Mershon Enterprises as his third entrepreneurial venture, and
        employs several other software developers. He was instrumental in
        helping to found <a href="http://www.meshcowork.com"
        target="_blank">Mesh Cowork, Bakersfield's first
        collaborative shared working space</a> and <a
        href="http://followthefox.org" target="_blank">KIT: Kern Innovation &
        Technology community</a> in assistance to Alyssa Haas, and is personally
        driven to see Bakersfield grow into a hub of technology innovation.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <img class="image featured" src="images/team/alyssa_haas.jpg">
      </div>
      <div class="col-xs-6 col-sm-9">
        <h2 class="member-name">Alyssa Haas
          <a href="https://www.linkedin.com/in/alyssa-haerle-35087224" target="_blank"><i class="fa fa-linkedin-square"></i></a>
          <a href="https://twitter.com/aHaerle" target="_blank"><i class="fa fa-twitter"></i></a>
        </h2>
        <h3>Business Development Manager</h3>
      </div>
      <div class="col-xs-12 col-sm-9">
        <p>Alyssa is a Stanford and UCLA alumna with a diversity of experiences
        in technology from Los Angeles to Silicon Valley to Moscow. She
        specializes in startup communities and business development. She also
        loves to mentor for the Bakersfield and Kern County tech communities as
        well as internationally and for her alma maters.</p>
        <p>In 2016, with the proud support and backing of Mershon Enterprises,
        Alyssa founded KIT, the <a href="http://kerninnovation.com"
        target="_blan">Kern Innovation &amp; Technology
        Community</a>. This community seeks to support and promote innovation
        and technology in Kern County in a movement led by entrepreneurs.
        Together, so far we have hosted a <a
        href="http://kerninnovation.tumblr.com/post/140042778967/kit-fox-3-tech-drawing-contest-for-kids"
        target="_blank">drawing contest for kids</a>, <a
        href="http://www.donorschoose.org/project/coding-for-the-future/1940535/?rf=email-system-2016-03-proposal_approve-teacher_3540167&challengeid=20738759&utm_source=dc&utm_medium=email&utm_campaign=proposal_approve&utm_swu=5510"
        target="_blank">funded a 4th grade teacher's class to get educational
        robots</a>, and hosted Bakersfield's first three public hackathons: <a
        href="http://kerninnovation.tumblr.com/post/143487590297/8-lessons-from-kerns-1st-public-hackathon-by"
        target="_blank">"Distill Your Idea"</a>, <a
        href="http://kerninnovation.tumblr.com/post/148713282722/the-kit-community-has-been-in-the-news-quite-a-bit"
        target="_blank">"Tech Fighting the Wildfires"</a>, and <a
        href="http://kerninnovation.tumblr.com/post/155443273768/students-gain-experience-from-library-tech"
        target="_blank">"Electric Bookworm"</a>, each with more attendance and
        community engagement than the previous. To learn more, check out <a href="http://followthefox.org"
        target="_blank">followthefox.org</a>.</p>
      </div>
      <div class="col-xs-12">
        <a href="http://eepurl.com/b5n3oT" rel="nofollow" title="KIT Community" target="_blank">
          <img src="https://s3-us-west-2.amazonaws.com/kern-innovation-and-technology/KIT-Community-Badge-Color.png"
               alt="KIT Community" style="border: none; height: auto; width: 200px;">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <img class="image featured" src="images/team/addison_chavez.jpg">
      </div>
      <div class="col-xs-6 col-sm-9">
        <h2 class="member-name">Addison Chavez
        </h2>
        <h3>Projects Coordinator</h3>
      </div>
      <div class="col-xs-12 col-sm-9">
        <p>In 2016, Addison literally ran for mayor of Bakersfield. He is
        driven, socially-aware, and passionate about helping our community. One
        of Addison's goals is to bring municipal wifi to Bakersfield.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <img class="image featured" src="images/team/cristopher_pascua.jpg">
      </div>
      <div class="col-xs-6 col-sm-9">
        <h2 class="member-name">Cristopher Pascua
          <a href="https://www.linkedin.com/in/cristopher-pascua-7a7a4077" target="_blank"><i class="fa fa-linkedin-square"></i></a>
          <a href="https://github.com/cpascua" target="_blank"><i class="fa fa-github"></i></a>
        </h2>
        <h3>Senior Software Developer</h3>
      </div>
      <div class="col-xs-12 col-sm-9">
        <p>Cris Pascua is a back-end developer with a current interest in
        functional programming. He is also strong promoter of test-driven
        development. He is always interested in learning new technologies and
        expanding his programming skills. In his spare time he enjoys working
        on personal programming projects. When he's not programming he enjoys
        PC building, PC gaming and table top games.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <img class="image featured" src="images/team/prosper_osagie_amayo.jpg">
      </div>
      <div class="col-xs-6 col-sm-9">
        <h2 class="member-name">Prosper Osagie-Amayo
          <a href="https://www.linkedin.com/in/prosperoa" target="_blank"><i class="fa fa-linkedin-square"></i></a>
          <a href="https://github.com/prosperoa" target="_blank"><i class="fa fa-github"></i></a>
        </h2>
        <h3>Junior Software Developer</h3>
      </div>
      <div class="col-xs-12 col-sm-9">
        <p>Prosper is a software developer specializing in front end
        development with plans to expand to full stack. He is currently
        pursuing a bachelors degree in computer science with a minor in
        business administration. Within one year after starting his coursework
        in computer science, he was offered a position with Mershon
        Enterprises. His analytical and self-direction skills paired with his
        strong programming skills proved him to be a profound software
        developer. The growth of his software development knowledge has been
        exponential, which he attributes mostly to self-study and senior
        developer guidance.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <img class="image featured" src="images/team/cory_kitchens.jpg">
      </div>
      <div class="col-xs-6 col-sm-9">
        <h2 class="member-name">Cory Kitchens
          <a href="https://www.linkedin.com/in/corykitchens" target="_blank"><i class="fa fa-linkedin-square"></i></a>
          <a href="https://github.com/corykitchens" target="_blank"><i class="fa fa-github"></i></a>
        </h2>
        <h3>Software Developer</h3>
      </div>
      <div class="col-xs-12 col-sm-9">
        <p>Cory Kitchens is a software developer dedicated to providing
        solutions to the customer’s problems. Cory has developed and supported
        products in various industries such as automotive and assistive
        technology. With his breadth of programming knowledge and expertise,
        Cory places the customer’s needs first to find the right solution to the
        problem at hand.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <img class="image featured" src="images/team/nicholas_gardner.jpg">
      </div>
      <div class="col-xs-6 col-sm-9">
        <h2 class="member-name">Nicholas Gardner
          <a href="https://github.com/nineclicks" target="_blank"><i class="fa fa-github"></i></a>
        </h2>
        <h3>Software Developer</h3>
      </div>
      <div class="col-xs-12 col-sm-9">
        <p>Nick is a software developer who doesn't enjoy writing bios of
        himself. He's the team comedian, and likes to strategically position
        himself within the office so that wandering cookie vendors will see him
        before anyone else. He enjoys Radiohead, API development, and long lunch
        breaks in the conference room.</p>
      </div>
    </div>

  </div>
</div>
