<div id="main-wrapper">
  <div id="main" class="container">

    <div class="row">
      <div class="col-xs-12">
        <h2 class="major"><span>Community Engagement</span></h2>
        <p>Mershon Enterprises is in many ways what some call a social
        enterprise. We are actively engaged in stimulating the local economy
        through a variety of direct sponsorships, event hosting, and our
        partnerships with <a href="http://meshcowork.com" target="_blank">MESH
        Cowork</a> and <a href="http://followthefox.org" target="_blank">Kern
        Innovation and Technology community</a>. Below are just some of the
        stories we have to share about our work within the community.</p>
      </div>
    </div>

    <div class="row">
      <h2 class="major col-xs-12"><span>2014 - Mesh Cowork</span></h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <p>It all began June, 2014 with <a
        href="https://www.reddit.com/r/Bakersfield/comments/296py4/anyone_interested_in_freelancer_coworking_or/"
        target="_blank">this post on Reddit.com</a> about the local need for a
        coworking space. Freelance web developers Scott Burton, Tabari
        Brannon, and Kevin Mershon all had a common goal: provide a home for
        technology experts in Bakersfield. After a handful of exchanges
        online, the three met and coordinated on the needs of technology
        businesses in Bakersfield. Scott and Tabari elected to form MESH
        Cowork and seek to acquire property, while Kevin Mershon committed to
        the first 3 months of dues as a founding member and helped promote the
        space, recruit new members, and co-lead some of the events.</p>
      </div>
      <figure class="col-xs-12 col-sm-4" title="Click for a closer look">
        <a href="images/community/mesh-reddit-post.png" target="_blank">
          <img class="img-responsive" src="images/community/mesh-reddit-post.png" /></a>
        <caption>The Reddit post that started it all</caption>
      </figure>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-push-4">
        <h3>Bakersfield Ruby Meetup</h3>
        <p>During the time MESH was starting up, the first tech-oriented meetups
        began to get started. <a href="https://www.meetup.com/Bakersfield-Ruby/"
        target="_blank">The Bakersfield Ruby Meetup</a> was the first such
        meetup, boasting a meager 7 attendees at its first meeting and a
        whopping 19 at its second. Before MESH was able to open its doors, the
        Ruby meetup struggled with finding a venue, underscoring the need for
        MESH to exist. At times they were hosting at Rusty's Pizza or Wiki's
        Wine Bar, only to be faced with loud karaoke music and no wifi access.
        MESH's opening was a godsend to the Ruby meetup, and one of the reasons
        it continues to exist to this day. Attendance has fluctuated over the
        years, but the meetup is still going strong, and it wouldn't have been
        possible without the tenacity of MESH's founders.</p>
      </div>
      <figure class="col-xs-12 col-sm-4 col-sm-pull-8">
        <img class="img-responsive" src="images/community/bakersfield-ruby.jpg"
        alt="Bakersfield Ruby Meetup" />
        <caption>The second Bakersfield Ruby Meetup</caption>
      </figure>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h2 class="major"><span>2015 - Building Bakersfield</span></h2>
        <h3>Why Not Bakersfield?</h3>
        <p>In March of 2015, The Atlantic published an focus piece <a
        href="https://www.theatlantic.com/national/archive/2015/03/californias-centers-of-technology-bay-area-la-san-diego-and-fresno/387808/"
        target="_blank">Bay Area, L.A., San Diego, and ... Fresno?</a>, wherein
        BitWise of Fresno was heavily promoted, with Fresno being heralded
        as a new beacon of hope in the central valley of California for tech
        enthusiasts and businesses. We decided to answer this article with our
        own blog entitled <a
        href="http://www.building-bakersfield.com/2015/05/why-not-bakersfield.html?spref=fb&m=1"
        target="_blank">Why Not Bakersfield?</a>, which led to a short series of
        introspectives on the opportunities and challenges that exist in
        Bakersfield. Performing a comparative analysis of Bakersfield to rival
        cities of Stockton, Fresno, and Riverside, we ultimately came to the
        conclusion that Bakersfield and Kern County have nothing inherently
        wrong with them preventing tech from flourishing, but the community
        needs to be louder in promoting itself.</p>
      </div>
    </div>

    <div class="row">
      <h2 class="major col-xs-12"><span>2015 - MESH Programs</span></h2>
      <div class="col-xs-12 col-sm-8 col-sm-push-4">
        <h3>Bakersfield Startup Meetup</h3>
        <p>After MESH opened its doors, one of the earliest meetups established
        was the <a href="https://www.meetup.com/Bakersfield-Startup/"
        target="_blank">The Bakersfield Startup Meetup</a>. Hosted by MESH
        co-founder Tabari Brannon, this meetup is geared toward establishing a
        clear path from idea to successful business. While the meetup has
        changed its strategy several times, from startup ideation exercises to
        hot seats to entrepreneurial course study, this meetup continues to be a
        valuable asset to the tech and business community alike.</p>
      </div>
      <figure class="col-xs-12 col-sm-4 col-sm-pull-8">
        <img class="img-responsive" src="images/community/bakersfield-startup.jpg"
        alt="Bakersfield Startup Meetup" />
        <caption>Bakersfield Startup Meetup</caption>
      </figure>
    </div>

    <div class="row margin-top">
      <div class="col-xs-12 col-sm-8">
        <h3>Kids Coding Classes</h3>
        <p>In November of 2015, after the first pilot course taught by Professor
        Eddie Rangel of Bakersfield College (then employed by Theta Oilfield
        Services), Kevin Mershon took over teaching the Kids Coding Classes
        hosted at MESH based upon MIT Scratch. After several successful months
        of teaching 4-session classes of 7 or more students, the course was
        compressed into 2-session classes. After the winter break, online
        campaign efforts to draw more students were unsuccessful, indicating
        we'd collectively reached some kind of market saturation, so the
        program was ended.</p>
      </div>
      <figure class="col-xs-12 col-sm-4">
        <img class="img-responsive" src="images/community/kids-coding-classes.jpg"
        alt="Kids Coding Classes" />
        <caption>Kids Coding Classes</caption>
      </figure>
    </div>

    <div class="row">
      <h2 class="major col-xs-12"><span>2016 - Kickstart My Startup</span></h2>
      <div class="col-xs-12 col-sm-8 col-sm-push-4">
        <p>In March 2016, Kevin Mershon decided that while the Bakersfield
        Startup Meetup was certainly meeting a critical need of the community,
        it wasn't meeting his personal needs of examining and avoiding common
        pitfalls  once a business is established and well underway in its
        operation. To address this, Kevin founded the <a
        href="https://www.meetup.com/Kickstart-My-Startup/"
        target="_blank">Kickstart My Startup</a> meetup, geared to appeal to
        work-a-holics and late-night doers. Hosted exclusively at 10 PM on
        Sunday nights, Kickstart continues to this day to ask difficult
        questions, hold its members accountable for getting their goals
        accomplished, and removing the word "fear" from one's vocabulary.</p>
      </div>
      <figure class="col-xs-12 col-sm-4 col-sm-pull-8">
        <img class="img-responsive" src="images/community/kickstart-my-startup.jpg"
        alt="Kickstart My Startup" />
        <caption>Kickstart My Startup</caption>
      </figure>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h2 class="major"><span>2016 - Kern Innovation and Technology</span></h2>
        <p>In February of 2016, at a Stanford event on entrepreneurship, Alyssa
        Haas had a crazy idea...</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-push-4">
        <h3>Kids Drawing Contest</h3>
        <p>As its inaugural event, during March of 2016 <a
        href="http://kerninnovation.tumblr.com/post/142359922307/guest-post-from-quinlynn-a-kit-fox-3-tech"
        target="_blank">a contest was held by KIT to draw a picture of KIT's
        mascot</a>, the San Joaquin Kit Fox, "using technology." This was an
        open-ended challenge intended to draw out the creativity of children,
        and it worked exceedingly well. Mershon Enterprises contributed Amazon
        gift cards to the winners, and MESH Cowork hosted the award event.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-pull-4">
        <figure>
          <img class="img-responsive"
            src="images/community/kids-drawing-contest-winner.jpg"
            alt="KIT Fox <3 Tech Winner" />
          <caption>KIT Fox &lt;3 Tech Winner</caption>
        </figure>
      </div>
      <div class="col-xs-12 col-sm-4">
        <figure>
          <img class="img-responsive"
            src="images/community/kids-drawing-contest.jpg"
            alt="KIT Fox <3 Tech Awards" />
          <caption>KIT Fox &lt;3 Tech Awards</caption>
        </figure>
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-xs-12 col-sm-8">
        <h3>Coding for the Future Sponsorship</h3>
        <p>In March, 2016 a local 4th grade teacher by the name of Sandra
        Johnson posted a campaign on DonorsChoose.org entitled <a
        href="https://www.donorschoose.org/project/coding-for-the-future/1940535"
        target="_blank">"Coding for the Future"</a> wherein she hoped to raise
        $800 for the goal of purchasing 8 <a
        href="http://ozobot.com/products/ozobot-bit" target="_blank">Ozobot
        Bits</a> for educating her classroom kids with the help of these
        learning robots. Mershon Enterprises found the campaign and decided to
        help by donating toward the cause directly, and then also promoting
        the campaign to local businesses.</p>
        <p>Donations poured in from KIT, MESH Cowork, and another local tech
        business named The Vuln Mine, and all donations were matched by <a
        href="https://www.donorschoose.org/donor/3488849" target="_blank">BEST
        School Day</a>. Within just two days' time, the campaign was fully
        funded, and by the start of the next semester the kids had the robots
        in class to facilitate their learning.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <figure>
          <img class="img-responsive"
            src="images/community/coding-for-the-future.jpg"
            alt="Coding for the Future" />
          <caption>Coding for the Future</caption>
        </figure>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3>Think Tank Tuesdays</h3>
        <p>As part of the need for the community to gain awareness of technology
        opportunities and local vendors and resources, it became obvious KIT
        would need to start hosting regular events. Stepping into the role of a
        trade organization, KIT started hosting recurring Think Tank Tuesdays at
        various businesses locations in order to bring the discussion directly
        to them. Each Think Tank brings a new pool of participants, new topics
        to discuss, and new ideas shared. Several of the Think Tanks have been
        attended by Bakersfield Mayor Karen Goh, and the January 2017 Think Tank
        hosted at The Padre Hotel was also attended by city council members Bob
        Smith and Andre Gonzales. Mershon Enterprises has attended and
        helped facilitate every KIT Think Tank to date.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <figure>
          <img class="img-responsive"
            src="images/community/think-tank-2016-06.jpg"
            alt="Think Tank 06/2016" />
          <caption>Think Tank 06/2016 at The Petroleum Club</caption>
        </figure>
      </div>
      <div class="col-xs-12 col-sm-4">
        <figure>
          <img class="img-responsive"
            src="images/community/think-tank-2016-07.jpg"
            alt="Think Tank 07/2016" />
          <caption>Think Tank 07/2016 at The Marcom Group</caption>
        </figure>
      </div>
      <div class="col-xs-12 col-sm-4">
        <figure>
          <img class="img-responsive"
            src="images/community/think-tank-2016-08.jpg"
            alt="Think Tank 08/2016" />
          <caption>Think Tank 08/2016 at The Apple Store</caption>
        </figure>
      </div>
      <div class="col-xs-12 col-sm-6">
        <figure>
          <img class="img-responsive"
            src="images/community/think-tank-2016-11.jpg"
            alt="Think Tank 11/2016" />
          <caption>Think Tank 11/2016 at CAP-K</caption>
        </figure>
      </div>
      <div class="col-xs-12 col-sm-6">
        <figure>
          <img class="img-responsive"
            src="images/community/think-tank-2017-01.jpg"
            alt="Think Tank 01/2017" />
          <caption>Think Tank 01/2017 at The Padre Hotel</caption>
        </figure>
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-xs-12 col-sm-8 col-sm-push-4">
        <h3>Hackathons</h3>
        <p>To date, KIT has hosted three community-action oriented hackathons to
        raise awareness of local issues and to draw together talented
        tech-focused minds. The three events, entitled Distill Your Idea, Tech
        Fighting the Wildfires, and Electric Bookworm, have all centered around
        using technology to provide direct solutions to particular needs of the
        community. MESH Cowork hosted the first two hackathons, and Mershon
        Enterprises has been a Gold Level sponsor, judge, and coordinator at
        each event.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-pull-8">
        <figure>
          <img class="img-responsive"
            src="images/community/hackathon-tech-ftw-sponsorship.jpg"
            alt="08/2016 Tech Fighting the Wildfires" />
          <caption>08/2016 Tech Fighting the Wildfires</caption>
        </figure>
      </div>
      <div class="col-xs-12 col-sm-4">
        <figure>
          <img class="img-responsive"
            src="images/community/hackathon-distill-your-idea-working.jpg"
            alt="04/2016 Distill Your Idea" />
          <caption>04/2016 Distill Your Idea</caption>
        </figure>
      </div>
      <div class="col-xs-12 col-sm-4">
        <figure>
          <img class="img-responsive"
            src="images/community/hackathon-tech-ftw-rules.jpg"
            alt="08/2016 Tech Fighting the Wildfires" />
          <caption>08/2016 Tech Fighting the Wildfires</caption>
        </figure>
      </div>
      <div class="col-xs-12 col-sm-4">
        <figure>
          <img class="img-responsive"
            src="images/community/hackathon-tech-ftw-working.jpg"
            alt="08/2016 Tech Fighting the Wildfires" />
          <caption>08/2016 Tech Fighting the Wildfires</caption>
        </figure>
      </div>
      <div class="col-xs-12">
        <figure>
          <img class="img-responsive"
            src="images/community/hackathon-electric-bookworm-selfie.jpg"
            alt="11/2016 Electric Bookworm" />
          <caption>11/2016 Electric Bookworm</caption>
        </figure>
      </div>
    </div>

  </div>
</div>
