<div id="main-wrapper">
  <div id="main" class="container">

    <div class="row %200">
      <div class="12u">

        <h2 class="major"><span>Who are we?</span></h2>

        <p>The roots of Mershon Enterprises date back to summer 2003, though the
        company in its current incarnation was founded April 2015. Kevin
        Mershon, a Bakersfield native, started his career as a freelance software
        developmer at Krummrich Engineering, a Bakersfield oilfield engineering
        company. Over the course of the next ten years, Kevin learned the
        ins and outs of the petroleum and shipping industries, trained over a
        dozen developers as apprentices, and designed and maintained at least as
        many software systems.</p>
      </div>
    </div>

    <div class="row %200">
      <div class="2u">
        <img class="image featured" src="images/team/kevin_mershon.jpg">
      </div>
      <div class="10u">

        <h2 class="member-name">Kevin Mershon
          <a href="https://www.linkedin.com/in/kevinmershon"><i class="fa fa-linkedin-square"></i></a>
          <a href="http://github.com/kevinmershon" target="_blank"><i class="fa fa-github"></i></a>
        </h2>
        <h3>Founder, President</h3>
        <p>Kevin Mershon is a 30-year-old software developer, tech
          enthusiast, and entrepreneur. He identifies primarily as a back-end
          developer, and is currently a self-proclaimed fanboy of Clojure. He
          recently founded Mershon Enterprises as his third startup in
          early 2015, and employs several other software developers. He was
          instrumental in helping to found <a href="http://www.meshcowork.com"
          target="_blank">Mesh Cowork, Bakersfield's first
          collaborative shared working space</a> located downtown on 20th and Eye
          Street, and is personally driven to see Bakersfield grow into a hub of
          technology innovation.
        </p>
      </div>
    </div>

    <div class="row %200">
      <div class="2u">
        <img class="image featured" src="images/team/alyssa_haerle.jpg">
      </div>
      <div class="10u">
        <h2 class="member-name">Alyssa Haerle
          <a href="https://www.linkedin.com/in/alyssa-haerle-35087224" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </h2>
        <h3>Business Development Manager</h3>
        <p>Alyssa is a Stanford and UCLA alumna with a diversity of experiences
        in technology from Los Angeles to Silicon Valley to Moscow. She
        specializes in startup communities and business development. She also
        loves to mentor for the Bakersfield and Kern County tech communities as
        well as internationally and for her alma maters.</p>
        <p>In 2016, with the proud support and backing of Mershon Enterprises,
        Alyssa founded KIT, the <a href="http://kerninnovation.com"
          target="_blan">Kern Innovation &amp; Technology
          Community</a>. This community seeks to support and promote innovation
        and technology in Kern County in a movement led by entrepreneurs.
        Together, so far we have hosted a <a
          href="http://kerninnovation.tumblr.com/post/140042778967/kit-fox-3-tech-drawing-contest-for-kids"
          target="_blank">drawing contest for kids</a>, <a
          href="http://www.donorschoose.org/project/coding-for-the-future/1940535/?rf=email-system-2016-03-proposal_approve-teacher_3540167&challengeid=20738759&utm_source=dc&utm_medium=email&utm_campaign=proposal_approve&utm_swu=5510"
          target="_blank">funded a 4th grade teacher's class to get educational
          robots</a>, and hosted <a
          href="https://www.eventbrite.com/e/distill-your-idea-tickets-23332898327"
          target="_blank">Bakersfield's first public hackathon, "Distill Your
          Idea"</a>. To learn more, check out <a href="http://followthefox.org"
          target="_blank">followthefox.org</a>.</p>
        <div align="center" style="inline">
          <a href="http://eepurl.com/b5n3oT" rel="nofollow" title="KIT Community" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/kern-innovation-and-technology/KIT-Community-Badge-Color.png"
                 alt="KIT Community" style="border: none; height: auto; width: 200px;">
          </a>
        </div>
    </div>

    <div class="row %200">
      <div class="2u">
        <img class="image featured" src="images/team/bethany_armitage.jpg">
      </div>
      <div class="10u">
        <h2 class="member-name">Bethany Armitage
          <a href="https://www.linkedin.com/in/bethany-armitage-21a80490" target="_blank"><i class="fa fa-linkedin-square"></i></a>
          <a href="https://github.com/bethgrace5" target="_blank"><i class="fa fa-github"></i></a>
        </h2>
        <h3>Software Developer</h3>
        <p>Beth Started out college with plans of pursuing a degree related to
          math or science. After she finally settled on math, she stumbled
          across computer programming as a required course for a math major.
          About half way through the semester, she found that she was expanding
          on the material and modifying old assignments in her free time, which
          was when she realized that she had fallen in love with programming.
          Since then she's made phenomenal progress developing programming
          skills by a combination of what she can teach herself, what she can
          learn from senior developers, and by pursuing a bachelors degree in
          computer science.</p>
      </div>
    </div>

    <div class="row %200">
      <div class="2u">
        <img class="image featured" src="images/team/christopher_pauley.jpg">
      </div>
      <div class="10u">
        <h2 class="member-name">Christopher Pauley
          <a href="https://www.linkedin.com/in/cpauley" target="_blank"><i class="fa fa-linkedin-square"></i></a>
          <a href="https://github.com/krisko6" target="_blank"><i class="fa fa-github"></i></a>
        </h2>
        <h3>Software Developer</h3>
        <p>Christopher Pauley is a software developer with experience in the
        fields of web and mobile development. He graduated with a Bachelor’s
        Degree in Computer Science from Cal Poly San Luis Obispo in 2013. He
        has worked for several companies including PG&E and Newscycle Solutions.
        He has worked with a wide range of technologies throughout his career,
        including JavaScript, Ruby, HTML, Ionic, Angular.js, and Backbone.JS. He
        also has experience developing for Android using Java. In his spare
        time, he enjoys playing video games, listening to music, and watching
        movies . . . and enjoys reading and writing reviews of all of these.</p>
      </div>
    </div>

  </div>
</div>
