<link rel="stylesheet" type="text/css" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css">

<div id="main-wrapper">
  <div id="main" class="container">

    <div class="row margin-top">
      <h2 class="major col-xs-12"><span>Customer Portal</span></h2>
    </div>

    <p>This area is for our hosting and subscribed customers to manage their
    credit cards, view their monthly statements, and change plan tiers. If you
    do not currently have hosting or solutions provided by us, you will not be
    able to take advantage of this section of our website.</p>

    <div class="row" id="billpay-widgets">
      <!-- injected by Patchwork -->
    </div>

  </div>
</div>
