<div id="banner-wrapper">
  <section id="banner">
    <h2 style="color: #008799;">Mershon Enterprises</h2>
    <h3 style="color: gold !important">
      Business Systems Software
    </h3>
    <h3 style="color: white !important">
      experts growing local companies
    </h3>
    <h3 style="color: white !important">
      through efficiency and automation
    </h3>
    <a href="/community.shtml" class="button" style="color:
      white !important; background-color: #008799 !important;">
      <i class="fa fa-thumbs-up"></i> Learn how we've helped
    </a>
    <a href="/testimonials.shtml" class="button" style="color:
      white !important; background-color: #008799 !important;">
      <i class="fa fa-users"></i> Read Testimonials
    </a>
    <a onClick="scrollToContact()" class="button" style="color:
      white !important; background-color: #008799 !important;">
      <i class="fa fa-check"></i> Get your assessment today
    </a>
  </section>
</div>

<div id="main-wrapper">
  <div id="main" class="container">

    <div class="row">
      <div class="col-xs-12">
        <section class="box highlight">
          <header>
            <h2>Our expertise</h2>
          </header>
          <ul class="special">
            <li>
              <i class="fa fa-html5"></i>
              <div>Web Applications</div>
            </li>
            <li>
              <i class="fa fa-credit-card"></i>
              <div>Online Payments</div>
            </li>
            <li>
              <i class="fa fa-cogs"></i>
              <div>Automation</div>
            </li>
            <li>
              <i class="fa fa-building-o"></i>
              <div>ERP and CRMs</div>
            </li>
          </ul>
          <div class="highlight-description">
            <div>
              <header>
                <h2>We make software that <span
                    style="color: limegreen; text-decoration: underline;">works</span>.</h2>
                <p>Performance. Security.</p>
                <p>Portable. Stability.</p>
              </header>
              <p>
                We are a modern company, born from the modern web. The
                Internet today isn't just hosting information and pictures.
                Applications are more than Excel and VBA macros. Well-built
                software today has to go where you go, change when you change,
                work when you work, and be designed from day one with your needs
                in mind.
              </p>
            </div>
            <div class="highlight-description">
              <header>
                <h2>We follow Industry Standards.</h2>
                <p>Build for today,</p>
                <p>Build for tomorrow.</p>
              </header>
              <p>
                Our industry evolves and changes faster than any other. New
                technologies appear and change almost weekly, and the complexity
                of software development is always growing. We use tools and
                frameworks which are modern, yet stable enough to pass muster
                and find support with major enterprise software players. We
                employ best practices to make code maintainable, ensuring you
                keep your options and are never left with a black box product
                you can't maintain.
              </p>
            </div>
            <div class="highlight-description">
              <header>
                <h2>We build for the modern internet.</h2>
                <p>You're always on the go,</p>
                <p>and we can make it so.</p>
              </header>
              <p>
                You're probably using your smartphone to visit us now. Your
                personal apps go with you everywhere that you do. Why shouldn't
                your business apps, too? Free yourself from the confines of the
                "work computer" by investing in mobile-first application design.
                Local industry leaders AERA and Wonderful both publicly speak in
                support of mobile computing as the future of industry. We agree.
              </p>
            </div>
            <div class="highlight-description">
              <header >
                <h2>Security-Conscious Design</h2>
                <p>It's better to be safe</p>
                <p>than a statistic.</p>
              </header>
              <p>
                Are you up-to-date with the latest security practices and
                patches that are available? We are. It's our job to keep
                up-to-date on the latest security policies set by industry
                leaders, and you reap the benefits. Anything we build you will
                be designed with security in mind from the first design
                documents to the last feature deployment, and we will gladly
                work with your existing security infrastructure to simplify
                rollout.
              </p>
            </div>
            <div class="highlight-description">
              <header >
                <h2>Cloud Solutions, Down to Earth</h2>
                <p>Cloud scalability, Edge portability</p>
              </header>
              <p>
                Cloud services can offer scalability and resilience you can't
                get from running your own servers, but having servers in the
                cloud shouldn't mean you must always be connected. We build
                software with Edge-computing in mind, which makes your data
                available to you on-the-go, while still utilizing the power of
                the cloud to prevent data loss and downtime. And if your
                company's needs cannot be met with cloud hosting, then we will
                happily work with you to create self-hosted solutions as well.
              </p>
            </div>
          </div>

        </section>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">

        <section class="box features">
          <h2 class="major"><span>Mershon Enterprises Is</span></h2>
          <div>
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <section class="box feature">
                  <img class="image featured" src="images/thumbs/map-find-us.jpg" alt="" />
                  <h3>A Bakersfield Software Company</h3>
                  <p>We are local to Bakersfield, right in the finance
                  district at <a
                  href="https://www.google.com/maps/place/900+Mohawk+St,+Bakersfield,+CA+93309/@35.3626561,-119.0645272,17z/data=!3m1!4b1!4m5!3m4!1s0x80ea421dcb88df11:0x85fee317dd5a66b5!8m2!3d35.3626561!4d-119.0623385"
                  target="_blank">900 Mohawk, Suite #210</a>. Come to us, or
                  we'll come to you.</p>
                </section>
              </div>
              <div class="col-xs-12 col-md-4">
                  <section class="box feature">
                    <img class="image featured" src="images/thumbs/kit-think-tank-mayor.jpg" alt="" />
                    <h3>Who Adapts To Your Needs</h3>
                    <p>It's not enough today to just be great at creating
                    software. Technologies come and go. Our expertise is
                    learning your business and identifying the best solution to
                    fit your needs. We work with you to create real, durable
                    solutions that cut down on waste and save you money.</p>
                  </section>
              </div>
              <div class="col-xs-12 col-md-4">
                <section class="box feature">
                  <img class="image featured" src="images/thumbs/kit-electric-bookworm-hackathon.jpg" alt="" />
                  <h3>In Innovative Ways.</h3>
                  <p>
                    Building software is about more than writing code. We help
                    you achieve your target margins and save the bottom line.
                    Software isn't just automation; it is also improvement and
                    simplicity.
                  </p>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <a href="/testimonials.shtml" class="button btn btn-block"><i class="fa
                fa-users"></i> Read Testimonials</a>
              </div>
              <div class="col-xs-12 col-sm-6">
                <a onClick="scrollToContact()" class="button btn btn-block"><i
                                               class="fa fa-check"></i> Get your assessment today</a>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>
<script src="scripts/home.js"></script>
