<div id="main-wrapper">
  <div id="main" class="container">

    <div class="row">
      <div class="col-xs-12">
        <h2 class="major"><span>Current Deals</span></h2>
      </div>
      <h4 class="col-xs-12 col-sm-6 col-sm-offset-3">
        3-for-5 deal (websites): any website up to 3 pages of static
        content (or basic CMS), starting at $500
        <a href="/deals/website_3for5.shtml" class="button btn btn-block margin-top">
          <i class="fa fa-globe"></i> Apply Now
        </a>
      </h4>
    </div>

    <div class="row margin-top">
      <div class="col-xs-12">
        <h2 class="major"><span>Our Prices</span></h2>
      </div>
      <p class="col-xs-12">
        Mershon Enterprises does business the <strong>Bakersfield</strong> way.
        While we're happy to offer maintenance and support services for software
        written by us or your previous developer, we don't believe in
        indefinitely entangling our business with yours.
      </p>
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="col-xs-12">
            <h4>New Product Development: $78/hr, billed weekly</h4>
            <img class="col-xs-12 img-responsive" src="images/pricing/greenfield.jpg" alt="New Product timeline" />
            <p class="text-center">(sample project timeline)</p>
          </div>
          <div class="col-xs-12">
            <h4>Support &amp; Maintenance: fit to your budget, billed weekly</h4>
            <img class="col-xs-12 img-responsive" src="images/pricing/support-and-maintenance.jpg" alt="Support and maintenance timeline" />
            <p class="text-center">(sample project timeline)</p>
          </div>
          <div class="col-xs-12">
            <h4>Want to see a sample Work Order?</h4>
            <a href="/sample_contract.shtml" class="button btn btn-block">
              <i class="fa fa-search"></i> Check it Out
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 margin-top">
        <p>Our offerings are best suited to established businesses with at least
          5 years of operational history who are building new products or
          expanding into new verticals.
        </p>
        <p>For product development projects, you own a full, unabridged copy
          of all source code, object code, technical documentation, user
          documentation, and supporting code developed for your project which
          cannot be revoked even if you decide to quit using our services
          mid-project and work with another agency. Unlike many developers,
          freelance and agency alike, we do not use a "Software as a Service"
          pricing model for the products we build, which would require you to
          pay a monthly fee indefinitely.
        </p>
        <p>All Work Orders and invoices are based on hours worked. Service
          Agreements expire annually on November 15th, and fixed-bid projects
          are available upon request annually during the months of November
          through February.</p>
      </div>
    </div>

  </div>
</div>
