<div id="main-wrapper">
  <div id="main" class="container">

    <a name="Products"></a>
    <header>
      <h2 class="major"><span>Products</span></h2>
    </header>

    <div class="row 200%">
      <div class="12u">
        <p>
          In addition to offering software consulting services, Mershon
          Enterprises also offers some software products that can be customized
          to your needs.
        </p>

        <section class="box highlight">
          <ul class="special">
            <li>
              <a href="#/product_hydra">
                <img src="images/products/hydra-demo-small.png"><span>Hydra</span>
              </a>
            </li>
            <li>
              <a href="#/product_whhero">
                <img width="50" src="images/products/whhero-demo-small.png"><span>WH Hero</span>
              </a>
            </li>
            <li>
              <a href="#/product_kernlearn">
                <img width="50" src="images/products/kernlearn-demo-small.png"><span>Kern Learn</span>
              </a>
            </li>
          </ul>

        </section>

      </div>
    </div>

  </div>
</div>
