<div id="main-wrapper">
  <div id="main" class="container">

    <a name="wh-hero"></a>
    <header>
      <h2 class="major"><span>WH Hero</span></h2>
    </header>

    <h2>Interactive data collection and visualization of WirelessHART mesh data</h2>
    <div class="row 200%">
      <p class="6u">
        WH Hero is a mobile application developed with the Ionic Framework and
        HART-IP, allowing you to easily connect to a WirelessHART Gateway and
        quickly interact with and visualize the collective dataset of a
        WirelessHART wireless mesh. WH Hero is available now <a
          href="https://play.google.com/store/apps/details?id=com.ionicframework.hydra151744"
          target="_blank">on Google Play</a>, and
        the <a href="https://itunes.apple.com/us/app/wh-hero/id1000265561"
          target="_blank">Apple App Store</a>. WH Hero is open source under the
        GNU General Public License v3, and the source materials are available
        for download from the <a
          href="https://github.com/mershon-enterprises/wh-hero"
          target="_blank">Mershon Enterprises GitHub.com account</a>.
      </p>
      <div class="6u">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/BhOq7E6gimA" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="3u">
        <img class="image featured" src="images/products/wh-hero/wh-hero-000-dashboard.png">
      </div>
      <div class="3u">
        <img class="image featured" src="images/products/wh-hero/wh-hero-001-transmitters.png">
      </div>
      <div class="3u">
        <img class="image featured" src="images/products/wh-hero/wh-hero-002-measurement.png">
      </div>
      <div class="3u">
        <img class="image featured" src="images/products/wh-hero/wh-hero-003-mesh.png">
      </div>
      <div class="12u">
        <ul class="technologies">
          <li><img title="Angular.js" class="image" src="images/technologies/angular-icon.png"></li>
          <li><img title="Ionic Framework" class="image" src="images/technologies/ionic-icon.png"></li>
          <li><img title="Apache Cordova" class="image" src="images/technologies/cordova-icon.png"></li>
          <li><img title="HART-IP" class="image" src="images/technologies/hart-ip-icon.png"></li>
          <li>
              <a href="https://itunes.apple.com/us/app/wh-hero/id1000265561"
                target="_blank">
                <img class="image" src="images/products/download-on-the-app-store.png">
              </a>
          </li>
          <li>
              <a href="https://play.google.com/store/apps/details?id=com.ionicframework.hydra151744"
                target="_blank">
                <img class="image" src="images/products/get-it-on-google-play.png">
              </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
