<div id="main-wrapper">
  <div id="main" class="container">

    <div class="row margin-top">
      <div class="col-xs-12">
        <a href="/pricing.shtml" class="button btn">
          <i class="fa fa-reply"></i> Back to Pricing
        </a>
      </div>

      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <h2 class="major"><span>Request a Sample Contract</span></h2>
        <h4>Please enter your email to receive a sample Hourly Agreement</h4>
        <form id="request-contract-form" onSubmit="window.getSampleContract(); return false;">
          <input class="form-control" type="text" placeholder="you@yourcompany.com" id="sampleContractEmail" required />
          <div style="margin-top: 15px;">
            <button id="get-contract-submit" type="submit" class="button btn btn-block">
              <i class="fa fa-file"></i> Request a Sample Contract
            </button>
          </div>
        </form>
        <p style="margin-top: 15px;">Requesting a sample contract doesn't
        obligate you in any way. We will not add you to any email marketing list
        or sell or distribute your email to any third parties.</p>
      </div>
    </div>

  </div>
</div>
