<div id="main-wrapper" style="margin-top: 50px;">
  <div id="main" class="container">

    <header>
      <h2 class="major"><span>Solutions</span></h2>
    </header>

    <div class="row">
      <div class="col-xs-12">
        <p>
          In addition to offering software consulting services, Mershon
          Enterprises also offers some software products that can be customized
          to your needs.
        </p>

        <section class="box highlight">
          <ul class="special">
            <li>
              <a href="/solutions/online-donations.shtml">
                <img src="images/solutions/donation-widgets.jpg"
                     alt="Online Donation Widgets">
              </a>
              <h4>Online Donation Widgets</h4>
            </li>
            <li>
              <a href="/solutions/e-commerce.shtml">
                <img src="images/solutions/e-commerce.jpg"
                     alt="E-Commerce">
              </a>
              <h4>E-Commerce</h4>
            </li>
            <li>
              <a href="/solutions/enterprise-resource-planning.shtml">
                <img src="images/solutions/enterprise-resource-planning.jpg"
                     alt="Enterprise Resource Planning">
              </a>
              <h4>Enterprise Resource Planning</h4>
            </li>
          </ul>
          <ul class="special">
            <li>
              <a href="/solutions/automatic-bill-pay.shtml">
                <img src="images/solutions/automatic-bill-pay.jpg"
                     alt="Automatic Bill Pay">
              </a>
              <h4>Automatic Bill Pay</h4>
            </li>
            <li>
              <a href="/solutions/reporting.shtml">
                <img src="images/solutions/reporting.jpg"
                     alt="Reporting">
              </a>
              <h4>Reporting</h4>
            </li>
            <li>
              <a href="/solutions/custom-software-development.shtml">
                <img src="images/solutions/custom-software-development.jpg"
                     alt="Custom Software Development">
              </a>
              <h4>Custom Software Development</h4>
            </li>
          </ul>

        </section>

      </div>
    </div>

  </div>
</div>
