<div id="main-wrapper">
  <div class="container">

    <header>
      <h2 class="major"><span>Solutions</span></h2>
    </header>

    <p>We are not just a custom software development company. In addition to
    offering consulting services, Mershon Enterprises also offers some
    software products that can be customized to your needs, and we are an
    integration partner for numerous cloud and on-premises software
    solutions that you may use or already be using.</p>

    <section class="box highlight">
      <ul class="special">
        <li>
          <a href="/solutions/online_donations.shtml">
            <img src="images/solutions/donation-widgets.jpg"
                 alt="Online Donation Widgets">
          </a>
          <h4>Online Donation Widgets</h4>
        </li>
        <li>
          <img src="images/solutions/e-commerce.jpg"
               alt="E-Commerce">
          <h4>E-Commerce Support</h4>
        </li>
        <li>
          <img src="images/solutions/enterprise-resource-planning.jpg"
               alt="Enterprise Resource Planning">
          <h4>Enterprise Resource Planning</h4>
        </li>
      </ul>
      <ul class="special">
        <li>
          <a href="/solutions/subscription_billing.shtml">
            <img src="images/solutions/automatic-bill-pay.jpg"
                 alt="Subscription Billing">
          </a>
          <h4>Subscription Billing</h4>
        </li>
        <li>
          <img src="images/solutions/reporting.jpg"
               alt="Reporting">
          <h4>Invoicing & Reporting</h4>
        </li>
        <li>
          <a href="/solutions/custom_software_development.shtml">
            <img src="images/solutions/custom-software-development.jpg"
                 alt="Custom Software Development">
          </a>
          <h4>Custom Software Development</h4>
        </li>
      </ul>

    </section>

  </div>
</div>
