<div id="main-wrapper" style="margin-top: 50px;">
  <div id="main" class="container">
    <header>
      <h2 class="major"><span>Our Happy Clients</span></h2>
    </header>

    <div class="row 200%">
      <div class="col-xs-12">
        <p>Mershon Enterprises primarily services other service-oriented
        businesses. We like working with people who understand and value
        technology. We work with you to create efficient, cost- and time-saving
        software solutions to your biggest problems.</p>

        <p>Good software is more than business automation and generating
        reports. With every project we undertake, our goal is to ultimately work
        ourselves out of a job. We build reliable, anti-fragile software that is
        designed to be highly fault-tolerant, automatically scalable, and easily
        maintained.</p>

        <section>
          <div class="highlight-description">

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/process-instruments.png">
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>Process Instruments & Controls</h2>
                <p>Process Instruments was the first of our customers to utilize
                our <strong>Hydra</strong> brand file storage and reporting
                solution. Daily, Hydra processes dozens to hundreds of incoming
                well test reports collected from Allen-Bradley Programmable
                Logic Controllers in an offline environment and transmits data
                through their Hydra reporting engine into finalized summary
                reports for all of their customers.</p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="AWS" class="image" src="images/technologies/aws-icon.png"></li>
                <li><img title="Clojure" class="image" src="images/technologies/clojure-icon.png"></li>
                <li><img title="PostgreSQL" class="image" src="images/technologies/postgres-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="EmberJS" class="image" src="images/technologies/ember-icon.png"></li>
                <li><img title="AngularJS" class="image" src="images/technologies/angular-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/genesis-ccm.png">
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>GenesisCCM</h2>
                <p>GenesisCCM a Child Custody Manager for single and separated
                parents, allowing them to keep better records via any device
                with Internet access. While the product is chiefly developed by
                outsourced developers, over the past several years we have
                provided ad-hoc support for the solution as needed.</p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="AWS" class="image" src="images/technologies/aws-icon.png"></li>
                <li><img title="Grails" class="image" src="images/technologies/grails-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="MySQL" class="image" src="images/technologies/mysql-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/exclusive-technologies.png">
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>Exclusive Technologies</h2>
                <p>Exclusive Technologies provides IT services to businesses in
                the Bakersfield area. We built them a new mobile-first
                website.</p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="AngularJS" class="image" src="images/technologies/angular-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive col-xs-6" src="images/testimonials/netsuite.png">
                <img class="img-responsive col-xs-6" src="images/testimonials/recruit-121.png">
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>Recruit121, AMPCognition, and NetSuite</h2>
                <p>
                  NetSuite sells a group of software services used to manage a
                  business's operations and customer relations. AMPCognition is
                  one of their integrators. When they had a consultant warn that
                  they weren't going to make their deadline for a big media client
                  in California, they reached out to Recruit121, and they
                  reached out to us. We stepped in and finished the job for
                  them, on their original deadline.
                </p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="NetSuite OneWorld" class="image" src="images/technologies/netsuite-icon.png"></li>
                <li><img title="Node.js" class="image" src="images/technologies/node-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/evperks.png">
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>EVPerks</h2>
                <p>
                  EVPerks is a service offering businesses a platform to
                  reach target customers through incentives offerings for drivers
                  of electric vehicles. EVPerks needed a quick mobile-first web
                  design until they can finish their relaunch this year. We helped
                  them out.
                </p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="AngularJS" class="image" src="images/technologies/angular-icon.png"></li>
                <li><img title="MailChimp" class="image" src="images/technologies/mailchimp-icon.jpg"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/cenotaph.png" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>Cenotaph Memorials</h2>
                <p>
                  Cenotaph Memorials is a platform for hosting virtual memorials
                  for friends, family, pets, and celebrities, and donating to
                  charities in their honor. We developed the entire application
                  platform, database, and server infrastructure for Cenotaph, and
                  are their chief solutions provider.
                </p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="AWS" class="image" src="images/technologies/aws-icon.png"></li>
                <li><img title="Clojure" class="image" src="images/technologies/clojure-icon.png"></li>
                <li><img title="PostgreSQL" class="image" src="images/technologies/postgres-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="ReactJS" class="image" src="images/technologies/react-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive col-xs-6" src="images/testimonials/a3-concepts.jpg" />
                <img class="img-responsive col-xs-6" src="images/testimonials/isafetypro.png" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>A3 Concepts and iSafetyPro</h2>
                <p>Description TBD</p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="Azure" class="image" src="images/technologies/azure-icon.png"></li>
                <li><img title="ASP.NET" class="image" src="images/technologies/aspnet-icon.jpg"></li>
                <li><img title=".NET Framework" class="image" src="images/technologies/dotnet-icon.png"></li>
                <li><img title="iOS" class="image" src="images/technologies/ios-icon.jpg"></li>
                <li><img title="RadStudio" class="image" src="images/technologies/rad-studio-icon.jpg"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/j-torres-co.png" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>J Torres Co Inc.</h2>
                <p>Description TBD</p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="AWS" class="image" src="images/technologies/aws-icon.png"></li>
                <li><img title="WordPress" class="image" src="images/technologies/wordpress-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/omnicert.jpg" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>OmniCert</h2>
                <p>Description TBD</p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="AWS" class="image" src="images/technologies/aws-icon.png"></li>
                <li><img title="iOS" class="image" src="images/technologies/ios-icon.jpg"></li>
                <li><img title="Cordova" class="image" src="images/technologies/cordova-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="MySQL" class="image" src="images/technologies/mysql-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/kcshrm.png" />
              </div>
              <div class="col-xs-12 col-sm-3">
                <h2>Kern County Society of Human Resource Management</h2>
                <p>Description TBD</p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="AWS" class="image" src="images/technologies/aws-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="MailChimp" class="image" src="images/technologies/mailchimp-icon.jpg"></li>
                <li><img title="Wild Apricot" class="image" src="images/technologies/wild-apricot-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/global-family.png" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>Global Family Care Network</h2>
                <p>Description TBD</p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="AWS" class="image" src="images/technologies/aws-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="Stripe" class="image" src="images/technologies/stripe-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/idi-tech.png" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>IDI-Tech</h2>
                <p>Description TBD</p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="Clojure" class="image" src="images/technologies/clojure-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/advanced-distribution.png" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>Advanced Distribution</h2>
                <p>Description TBD</p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="Epicor Prophet21" class="image" src="images/technologies/epicor-icon.jpg"></li>
                <li><img title=".NET Framework" class="image" src="images/technologies/dotnet-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/blackhole-tech.jpg" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>BlackHole Tech</h2>
                <p>Description TBD</p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="Clojure" class="image" src="images/technologies/clojure-icon.png"></li>
                <li><img title="Geotab" class="image" src="images/technologies/geotab-icon.jpg"></li>
              </ul>
            </div>
            <hr/>

          </div>
        </section>

  </div>
</div>
