<div id="main-wrapper" style="margin-top: 50px;">
  <div id="main" class="container">
    <header>
      <h2 class="major"><span>Our Happy Clients</span></h2>
    </header>

    <div class="row 200%">
      <div class="col-xs-12">
        <p>Mershon Enterprises primarily services other service-oriented
        businesses. We like working with people who understand and value
        technology. We work with you to create efficient, cost- and time-saving
        software solutions to your biggest problems.</p>

        <p>Good software is more than business automation and generating
        reports. With every project we undertake, our goal is to ultimately work
        ourselves out of a job. We build reliable, anti-fragile software that is
        designed to be highly fault-tolerant, automatically scalable, and easily
        maintained.</p>

        <section>
          <div class="highlight-description">

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/process-instruments.png">
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>Process Instruments & Controls</h2>
                <p>Process Instruments was the first of our customers to utilize
                our <strong>Hydra</strong> brand file storage and reporting
                solution. Daily, Hydra processes dozens to hundreds of incoming
                well test reports collected from Allen-Bradley Programmable
                Logic Controllers in an offline environment and transmits data
                through their Hydra reporting engine into finalized summary
                reports for all of their customers.</p>
                <p><em>"Thanks for looking after us" - Kenn Morgan, Operations
                Manager of Process Instruments Inc.</em></p>
                <p><em>"That was really quick, I appreciate it a lot. Makes my
                Monday easier!" - Cynthia Weis, Administrative Assistant,  Process
                Instruments Inc. </em></p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="AWS" class="image" src="images/technologies/aws-icon.png"></li>
                <li><img title="Clojure" class="image" src="images/technologies/clojure-icon.png"></li>
                <li><img title="PostgreSQL" class="image" src="images/technologies/postgres-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="EmberJS" class="image" src="images/technologies/ember-icon.png"></li>
                <li><img title="AngularJS" class="image" src="images/technologies/angular-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/genesis-ccm.png">
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>GenesisCCM</h2>
                <p>GenesisCCM a Child Custody Manager for single and separated
                parents, allowing them to keep better records via any device
                with Internet access. While the product is chiefly developed by
                outsourced developers, over the past several years we have
                provided ad-hoc support for the solution as needed.</p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="AWS" class="image" src="images/technologies/aws-icon.png"></li>
                <li><img title="Grails" class="image" src="images/technologies/grails-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="MySQL" class="image" src="images/technologies/mysql-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/exclusive-technologies.png">
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>Exclusive Technologies</h2>
                <p>Exclusive Technologies provides IT services to businesses in
                the Bakersfield area. We built them a new mobile-first
                website.</p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="AngularJS" class="image" src="images/technologies/angular-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive col-xs-6 col-sm-12" src="images/testimonials/netsuite.png">
                <img class="img-responsive col-xs-6 col-sm-12" src="images/testimonials/recruit-121.png">
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>Recruit121, AMPCognition, and NetSuite</h2>
                <p>
                  NetSuite sells a group of software services used to manage a
                  business's operations and customer relations. AMPCognition is
                  one of their integrators. When they had a consultant warn that
                  they weren't going to make their deadline for a big media client
                  in California, they reached out to Recruit121, and they
                  reached out to us. We stepped in and finished the job for
                  them, on their original deadline.
                </p>
                <p><em>"Thank you for your honesty and integrity" - Ben Welch,
                  Recruiter at Recruit 121</em></p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="NetSuite OneWorld" class="image" src="images/technologies/netsuite-icon.png"></li>
                <li><img title="Node.js" class="image" src="images/technologies/node-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/evperks.png">
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>EVPerks</h2>
                <p>
                  EVPerks is a service offering businesses a platform to
                  reach target customers through incentives offerings for drivers
                  of electric vehicles. EVPerks needed a quick mobile-first web
                  design until they can finish their relaunch this year. We helped
                  them out.
                </p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="AngularJS" class="image" src="images/technologies/angular-icon.png"></li>
                <li><img title="MailChimp" class="image" src="images/technologies/mailchimp-icon.jpg"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/cenotaph.png" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>Cenotaph Memorials</h2>
                <p>
                  Cenotaph Memorials is a platform for hosting virtual memorials
                  for friends, family, pets, and celebrities, and donating to
                  charities in their honor. We developed the entire application
                  platform, database, and server infrastructure for Cenotaph, and
                  are their chief solutions provider.
                </p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="AWS" class="image" src="images/technologies/aws-icon.png"></li>
                <li><img title="Clojure" class="image" src="images/technologies/clojure-icon.png"></li>
                <li><img title="PostgreSQL" class="image" src="images/technologies/postgres-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="ReactJS" class="image" src="images/technologies/react-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive col-xs-6 col-sm-12" src="images/testimonials/a3-concepts.jpg" />
                <img class="img-responsive col-xs-6 col-sm-12" src="images/testimonials/isafetypro.png" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>A3 Concepts and iSafetyPro</h2>
                <p>A3 Concepts is a solutions provider and consultant for
                standard operating procedures, safety, and LEAN methodologies.
                In mid-2016, we transitioned to supporting the development of
                their product iSafetyPro (an iOS mobile app) full time.</p>
                <p><em>"It has been very refreshing to work with you and your
                team...I  want to let you know that your ability to lead
                projects and others is a true testament to why you continue to
                grow. I look forward to our Journey as we work together on this
                project, along with many other projects to come!!!" - Tony
                Castiglione, President of A3 Concepts</em></p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="Azure" class="image" src="images/technologies/azure-icon.png"></li>
                <li><img title="ASP.NET" class="image" src="images/technologies/aspnet-icon.jpg"></li>
                <li><img title=".NET Framework" class="image" src="images/technologies/dotnet-icon.png"></li>
                <li><img title="iOS" class="image" src="images/technologies/ios-icon.jpg"></li>
                <li><img title="RadStudio" class="image" src="images/technologies/rad-studio-icon.jpg"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/j-torres-co.png" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>J Torres Co Inc.</h2>
                <p>J Torres Co Inc. is a trucking and waste disposal company,
                chiefly servicing areas of Bakersfield and Golden Hills, CA. In
                2016 after their previous web developer moved away from
                Bakersfield, we designed and now host a new CMS-based version of
                their website.</p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="AWS" class="image" src="images/technologies/aws-icon.png"></li>
                <li><img title="WordPress" class="image" src="images/technologies/wordpress-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/omnicert.jpg" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>OmniCert</h2>
                <p>OmniCert has a employee certification tracking mobile app in
                the Apple and Android app stores. As of 2016 we provide support
                and maintenance for the app.</p>
                <p><em>"Boom! You guys are amazing!" - Vance Elmore, President of
                  OmniCert Inc.</em></p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="AWS" class="image" src="images/technologies/aws-icon.png"></li>
                <li><img title="iOS" class="image" src="images/technologies/ios-icon.jpg"></li>
                <li><img title="Cordova" class="image" src="images/technologies/cordova-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="MySQL" class="image" src="images/technologies/mysql-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/kcshrm.png" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>Kern County Society of Human Resource Management</h2>
                <p>KCSHRM is a local trade organization for Human Resources
                Managers. We provided them a new website and membership
                management automation for Wild Apricot, in partnership with
                Creatively Blind. </p>
                <p><em>"Thanks so much...I have received great feedback from
                  the board and a visitor to the site that is a prominent
                  business owner said it was one of the best improved sites he
                  has ever seen, and he has been a member for 9 years." - Cindy
                  Perkins, 2016 KCSHRM President</em></p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="AWS" class="image" src="images/technologies/aws-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="MailChimp" class="image" src="images/technologies/mailchimp-icon.jpg"></li>
                <li><img title="Wild Apricot" class="image" src="images/technologies/wild-apricot-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/global-family.png" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>Global Family Care Network</h2>
                <p>Global Family has a group of related websites: My
                GlobalFamily, The Daughter Project, Direct Good, and Fit for
                Hope. We designed a new unified payment processing database and
                automation framework, and host the My Global Family and Fit for
                Hope websites.</p>
                <p><em>"Thank you for being so on top of things!" - Jennifer
                Jensen, Executive Director of Global Family Care
                Network</em></p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="AWS" class="image" src="images/technologies/aws-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="Stripe" class="image" src="images/technologies/stripe-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/idi-tech.png" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>IDI-Tech</h2>
                <p>IDI-Tech is a local IT Services Provider. Together we are
                building a cloud storage and backup solution for businesses.</p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="Clojure" class="image" src="images/technologies/clojure-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/advanced-distribution.png" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>Advanced Distribution</h2>
                <p>Advanced Distribution is a parts reseller and service
                organization for any business with fleets of vehicles. In 2016
                we came onboard with them to support their ERP solution Epicor
                Prophet21, building automated rules for their accounts and
                purchase orders.</p>
                <p><em>"Thank God you're here!" - Wendi Thomas, Prophet21
                Administrator of Advanced Distribution Co.</em></p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="Epicor Prophet21" class="image" src="images/technologies/epicor-icon.jpg"></li>
                <li><img title=".NET Framework" class="image" src="images/technologies/dotnet-icon.png"></li>
              </ul>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="images/testimonials/blackhole-tech.jpg" />
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>BlackHole Tech</h2>
                <p>BlackHole Tech is a GPS and Fleet Monitoring solutions
                provider. In late 2016 we worked with them to create an
                automated billing solution for their GeoTab customers.</p>
              </div>
              <ul class="technologies col-xs-12 col-sm-offset-3 col-sm-9">
                <li><img title="Clojure" class="image" src="images/technologies/clojure-icon.png"></li>
                <li><img title="Geotab" class="image" src="images/technologies/geotab-icon.jpg"></li>
              </ul>
            </div>
            <hr/>

          </div>
        </section>

  </div>
</div>
