<div id="main-wrapper" style="margin-top: 50px;">
  <div id="main" class="container">
    <header>
      <h2 class="major"><span>Our Happy Clients</span></h2>
    </header>

    <div class="row 200%">
      <div class="col-xs-12">
        <p>Mershon Enterprises primarily services other service-oriented
        businesses. We like working with people who understand and value
        technology. We work with you to create efficient, cost- and time-saving
        software solutions to your biggest problems.</p>

        <p>Good software is more than business automation and generating
        reports. With every project we undertake, our goal is to ultimately work
        ourselves out of a job. We build reliable, anti-fragile software that is
        designed to be highly fault-tolerant, automatically scalable, and easily
        maintained.</p>

        <section>
          <div class="highlight-description">

            <div class="row">
              <div class="col-xs-3">
                <img class="img-responsive" src="images/testimonials/south-valley-dietetics.png">
              </div>
              <div class="col-xs-9">
                <header>
                  <h2>South Valley Dietetics</h2>
                  <p>Industry Association</p>
                </header>
                <p>
                  South Valley Dietetics is an organization for dietitians located
                  in the southern region of the San Joaquin Valley. We have been
                  maintaining their online presence for many years, helping them
                  stay in communication and share opportunities, legislative
                  changes, and information about upcoming events.
                </p>
                <ul class="technologies">
                  <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                  <li><img title="Grails" class="image" src="images/technologies/grails-icon.png"></li>
                </ul>
              </div>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-3">
                <img class="img-responsive" src="images/testimonials/process-instruments.png">
              </div>
              <div class="col-xs-9">
                <header>
                  <h2>Process Instruments & Controls</h2>
                  <p></p>
                </header>
                <p>
                  Process Instruments was the first of our customers to utilize
                  our <strong>Hydra</strong> brand file storage and reporting
                  solution. Daily, Hydra processes dozens to hundreds of incoming
                  well test reports collected from Allen-Bradley Programmable
                  Logic Controllers in an offline environment and transmits data
                  through their Hydra reporting engine into finalized summary
                  reports for all of their customers.
                </p>
                <ul class="technologies">
                  <li><img title="Clojure" class="image" src="images/technologies/clojure-icon.png"></li>
                  <li><img title="PostgreSQL" class="image" src="images/technologies/postgres-icon.png"></li>
                  <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                  <li><img title="EmberJS" class="image" src="images/technologies/ember-icon.png"></li>
                  <li><img title="AngularJS" class="image" src="images/technologies/angular-icon.png"></li>
                </ul>
              </div>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-3">
                <img src="images/testimonials/exclusive-technologies.png">
              </div>
              <div class="col-xs-9">
                <header>
                  <h2>Exclusive Technologies</h2>
                  <p>IT Services</p>
                </header>
                <p>
                  Exclusive Technologies provides IT services to businesses in the
                  Bakersfield area. We built them a new mobile-first website.
                </p>
                <ul class="technologies">
                  <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                  <li><img title="AngularJS" class="image" src="images/technologies/angular-icon.png"></li>
                </ul>
              </div>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-3">
                <img class="img-responsive" src="images/testimonials/netsuite.png">
                <img class="img-responsive" src="images/testimonials/recruit-121.png">
              </div>
              <div class="col-xs-9">
                <header>
                  <h2>Recruit121, AMPCognition, and NetSuite</h2>
                  <p>Entity Resource Planning</p>
                </header>
                <p>
                  NetSuite sells a group of software services used to manage a
                  business's operations and customer relations. AMPCognition is
                  one of their integrators. When they had a consultant warn that
                  they weren't going to make their deadline for a big media client
                  in California, they reached out to Recruit121, and they
                  reached out to us. We stepped in and finished the job for
                  them, on their original deadline.
                </p>
                <ul class="technologies">
                  <li><img title="NetSuite OneWorld" class="image" src="images/technologies/netsuite-icon.png"></li>
                  <li><img title="Node.js" class="image" src="images/technologies/node-icon.png"></li>
                </ul>
              </div>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-3">
                <img class="img-responsive" src="images/testimonials/evperks.png">
              </div>
              <div class="col-xs-9">
                <header>
                  <h2>EVPerks</h2>
                  <p>Incentives Platform for Drivers of Electric Vehicles</p>
                </header>
                <p>
                  EVPerks is a service offering businesses a platform to
                  reach target customers through incentives offerings for drivers
                  of electric vehicles. EVPerks needed a quick mobile-first web
                  design until they can finish their relaunch this year. We helped
                  them out.
                </p>
                <ul class="technologies">
                  <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                  <li><img title="AngularJS" class="image" src="images/technologies/angular-icon.png"></li>
                  <li><img title="MailChimp" class="image" src="images/technologies/mailchimp-icon.jpg"></li>
                </ul>
              </div>
            </div>
            <hr/>

            <div class="row">
              <div class="col-xs-3">
                <img class="img-responsive" src="images/testimonials/cenotaph.png" />
              </div>
              <div class="col-xs-9">
                <header>
                  <h2>Cenotaph Memorials</h2>
                  <p>Virtual Memorials and Donations platform</p>
                </header>
                <p>
                  Cenotaph Memorials is a platform for hosting virtual memorials
                  for friends, family, pets, and celebrities, and donating to
                  charities in their honor. We developed the entire application
                  platform, database, and server infrastructure for Cenotaph, and
                  are their chief solutions provider.
                </p>
                <ul class="technologies">
                  <li><img title="Clojure" class="image" src="images/technologies/clojure-icon.png"></li>
                  <li><img title="PostgreSQL" class="image" src="images/technologies/postgres-icon.png"></li>
                  <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                  <li><img title="ReactJS" class="image" src="images/technologies/react-icon.png"></li>
                </ul>
              </div>
            </div>

          </div>
        </section>

  </div>
</div>
