<div id="main-wrapper">
  <div id="main" class="container">

    <div class="row 200%">
      <div class="12u">

        <h2 class="major"><span>Pricing Information</span></h2>

        <div class="row %200">
          <div class="6u">
            <ul class="pricing divided">
              <li>Plan 1</li>
              <li>Plan 2</li>
              <li>Plan 3</li>
              <li>Discount 1</li>
              <li>Discount 2</li>
            </ul>
          </div>
          <div class="6u">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>
            <a ng-click="scrollToContact()" class="button big">Ready To Start Your Project?</a>
          </div>
        </div>

        <h2 class="major"><span>Project Administrative Controls</span></h2>

        <div class="row %200">
          <div class="12u">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>
          </div>
        </div>

        <h2 class="major"><span>Our Team</span></h2>

        <div class="row %200">
          <div class="2u">
            <img class="image featured" ng-src="{{githubUserInfo['kevinmershon'].avatar_url}}">
          </div>
          <div class="10u">
            <h2 class="member-name">{{githubUserInfo['kevinmershon'].name}} <a ng-href="{{githubUserInfo['kevinmershon'].html_url}}"><i class="fa fa-github"></i></a></h2>
            <p>Kevin's bio.</p>
          </div>
        </div>

        <div class="row %200">
          <div class="2u">
            <img class="image featured" ng-src="{{githubUserInfo['devinleonhart'].avatar_url}}">
          </div>
          <div class="10u">
            <h2 class="member-name">{{githubUserInfo['devinleonhart'].name}} <a ng-href="{{githubUserInfo['devinleonhart'].html_url}}"><i class="fa fa-github"></i></a></h2>
            <p>Devin's bio.</p>
          </div>
        </div>

        <div class="row %200">
          <div class="2u">
            <img class="image featured" ng-src="{{githubUserInfo['cpascua'].avatar_url}}">
          </div>
          <div class="10u">
            <h2 class="member-name">{{githubUserInfo['cpascua'].name}} <a ng-href="{{githubUserInfo['cpascua'].html_url}}"><i class="fa fa-github"></i></a></h2>
            <p>Cris' bio.</p>
          </div>
        </div>

        <div class="row %200">
          <div class="2u">
            <img class="image featured" ng-src="{{githubUserInfo['bethgrace5'].avatar_url}}">
          </div>
          <div class="10u">
            <h2 class="member-name">{{githubUserInfo['bethgrace5'].name}} <a ng-href="{{githubUserInfo['bethgrace5'].html_url}}"><i class="fa fa-github"></i></a></h2>
            <p>Beth's bio.</p>
          </div>
        </div>

        <div class="row %200">
          <div class="2u">
            <img class="image featured" ng-src="{{githubUserInfo['TeaHermit'].avatar_url}}">
          </div>
          <div class="10u">
            <h2 class="member-name">{{githubUserInfo['TeaHermit'].name}} <a ng-href="{{githubUserInfo['TeaHermit'].html_url}}"><i class="fa fa-github"></i></a></h2>
            <p>Aarons's bio.</p>
          </div>
        </div>


        <h2 class="major"><span>Our Skills</span></h2>

        <section class="box highlight">
          <ul class="special" ng-mouseleave="changeContent('default')">
            <li>
              <i ng-click="changeSkill('webdesign')" class="fa fa-html5"></i><span>Web Design</span>
            </li>
            <li>
              <i ng-click="changeSkill('databases')" class="fa fa-database"></i><span>Relational Databases</span>
            </li>
            <li>
              <i ng-click="changeSkill('mobile')" class="fa fa-mobile"></i><span>Mobile</span>
            </li>
            <li>
              <i ng-click="changeSkill('security')" class="fa fa-gears"></i><span>Security & Testing</span>
            </li>
            <li>
              <i ng-click="changeSkill('serveradmin')" class="fa fa-server"></i><span>Systems Administraton</span>
            </li>
            <li>
              <i ng-click="changeSkill('scada')" class="fa fa-bar-chart"></i><span>SCADA</span>
            </li>
          </ul>
        </section>

      <div class="skillset" ng-switch="skillMode" class="row %200">
        <div ng-switch-when="webdesign" class="12u">
          <p>This is our description about how we can do Web Design.</p>
        </div>
        <div ng-switch-when="databases" class="12u">
          <p>This is our description about how we can do Databases.</p>
        </div>
        <div ng-switch-when="mobile" class="12u">
          <p>This is our description about how we can do Mobile.</p>
        </div>
        <div ng-switch-when="security" class="12u">
          <p>This is our description about how we can do Security.</p>
        </div>
        <div ng-switch-when="serveradmin" class="12u">
          <p>This is our description about how we can do Server Admin.</p>
        </div>
        <div ng-switch-when="scada" class="12u">
          <p>This is our description about how we can do SCADA.</p>
        </div>
      </div>

      <h2 class="major"><span>Benefits of a Virtual Company</span></h2>

      <div class="row %200">
        <div class="12u">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>
        </div>
      </div>

      <h2 class="major"><span>Coworking and Bakersfield Mesh</span></h2>

      <div class="row %200">
        <div class="12u">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>
        </div>
      </div>

      </div>
    </div>

  </div>
</div>
