<div id="main-wrapper">
  <div id="main" class="container">

    <div class="row 200%">
      <div class="12u">

        <h2 class="major"><span>Pricing Information</span></h2>

        <div class="row %200">
          <div class="6u">
            <ul class="pricing divided">
              <li>Plan 1</li>
              <li>Plan 2</li>
              <li>Plan 3</li>
              <li>Discount 1</li>
              <li>Discount 2</li>
            </ul>
          </div>
          <div class="6u">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>
            <a ng-click="scrollToContact()" class="button big">Ready To Start Your Project?</a>
          </div>
        </div>

        <h2 class="major"><span>Project Administrative Controls</span></h2>

        <div class="row %200">
          <div class="12u">
            <p>Mershon Enterprises employs a number of Project Controls
            methodologies to ensure that each project is delivered on time, on
            budget, and within scope. These methods include Agile, Scrum, and
            the more conventional critical path method. Our project schedules
            are all loaded with cost and labor hours for the purposes of earned
            value reporting and analysis. With this data, we report on budget
            and schedule issues as they arise, and find strategic solutions
            before projects are at risk. We also offer project administration
            services a la carte, including conversion between formats.
            </p>
          </div>
        </div>

        <h2 class="major"><span>Our Team</span></h2>

        <div class="row %200">
          <div class="2u">
            <img class="image featured" ng-src="{{githubUserInfo['kevinmershon'].avatar_url}}">
          </div>
          <div class="10u">
            <h2 class="member-name">{{githubUserInfo['kevinmershon'].name}} <a ng-href="{{githubUserInfo['kevinmershon'].html_url}}"><i class="fa fa-github"></i></a></h2>
            <p>Kevin Mershon is a 29-year-old software developer, tech
              enthusiast, and entrepreneur. He recently founded his third
              software company Mershon Enterprises earlier this year, and
              employs 8 other software developers. He was instrumental in
              helping to found Mesh Cowork, Bakersfield's first collaborative
              shared working space located downtown on 20th and Eye Street, and
              is personally driven to see Bakersfield grow into a hub of
              technology innovation.
            </p>
          </div>
        </div>

        <div class="row %200">
          <div class="2u">
            <img class="image featured" ng-src="{{githubUserInfo['devinleonhart'].avatar_url}}">
          </div>
          <div class="10u">
            <h2 class="member-name">{{githubUserInfo['devinleonhart'].name}} <a ng-href="{{githubUserInfo['devinleonhart'].html_url}}"><i class="fa fa-github"></i></a></h2>
            <p>Devin hasn't written a bio yet.</p>
          </div>
        </div>

        <div class="row %200">
          <div class="2u">
            <img class="image featured" ng-src="{{githubUserInfo['cpascua'].avatar_url}}">
          </div>
          <div class="10u">
            <h2 class="member-name">{{githubUserInfo['cpascua'].name}} <a ng-href="{{githubUserInfo['cpascua'].html_url}}"><i class="fa fa-github"></i></a></h2>
            <p>Cristopher hasn't written a bio yet.</p>
          </div>
        </div>

        <div class="row %200">
          <div class="2u">
            <img class="image featured" ng-src="{{githubUserInfo['bethgrace5'].avatar_url}}">
          </div>
          <div class="10u">
            <h2 class="member-name">{{githubUserInfo['bethgrace5'].name}} <a ng-href="{{githubUserInfo['bethgrace5'].html_url}}"><i class="fa fa-github"></i></a></h2>
            <p>Bethany hasn't written a bio yet.</p>
          </div>
        </div>

        <div class="row %200">
          <div class="2u">
            <img class="image featured" ng-src="{{githubUserInfo['TeaHermit'].avatar_url}}">
          </div>
          <div class="10u">
            <h2 class="member-name">{{githubUserInfo['TeaHermit'].name}} <a ng-href="{{githubUserInfo['TeaHermit'].html_url}}"><i class="fa fa-github"></i></a></h2>
            <p>Aaron hasn't written a bio yet.</p>
          </div>
        </div>


        <h2 class="major"><span>Our Skills</span></h2>

        <section class="box highlight">
          <ul class="special" ng-mouseleave="changeContent('default')">
            <li>
              <i ng-click="changeSkill('webdesign')" class="fa fa-html5"></i><span>Web Design</span>
            </li>
            <li>
              <i ng-click="changeSkill('databases')" class="fa fa-database"></i><span>Relational Databases</span>
            </li>
            <li>
              <i ng-click="changeSkill('mobile')" class="fa fa-mobile"></i><span>Mobile</span>
            </li>
            <li>
              <i ng-click="changeSkill('security')" class="fa fa-gears"></i><span>Security & Testing</span>
            </li>
            <li>
              <i ng-click="changeSkill('serveradmin')" class="fa fa-server"></i><span>Systems Administraton</span>
            </li>
            <li>
              <i ng-click="changeSkill('scada')" class="fa fa-bar-chart"></i><span>SCADA</span>
            </li>
          </ul>
        </section>

      <div class="skillset" ng-switch="skillMode" class="row %200">
        <div ng-switch-when="webdesign" class="12u">
          <p>We comply with HTML5 standards using Angular.js and Bootstrap.</p>
        </div>
        <div ng-switch-when="databases" class="12u">
          <p>We work with relational database design, specifically PostgreSQL.</p>
        </div>
        <div ng-switch-when="mobile" class="12u">
          <p>We specialize in mobile first design with Ionic and Cordova.</p>
        </div>
        <div ng-switch-when="security" class="12u">
          <p>Security is always at the forefront of our designs.</p>
        </div>
        <div ng-switch-when="serveradmin" class="12u">
          <p>Server and system administration is always included.</p>
        </div>
        <div ng-switch-when="scada" class="12u">
          <p>SCADA and industrial applications are our strength.</p>
        </div>
      </div>

      <h2 class="major"><span>Benefits of a Virtual Company</span></h2>

      <div class="row %200">
        <div class="12u">
          <p>
            Your business needs aren't constrained to your desk or your office,
            and your software solutions shouldn't be either.
            Being a virtual company means our developers build lightweight,
            efficient software out of necessity. Portable software is better for
            your business because it allows you to ask questions and get answers
            on-the-go, even with intermittent connectivity.
          </p>
        </div>
      </div>

      <h2 class="major"><span>Coworking and Mesh Bakersfield</span></h2>

      <div class="row %200">
        <div class="12u">
          <p>Being a virtual company doesn't mean our programmers work in
            isolation.  Mershon Enterprises was instrumental in helping to found
            <a href="https://meshcowork.cobot.me/" target="_blank">Mesh
              Cowork</a>, Bakersfield's first coworking facility. Together with
            other entrepreneurs, freelance software developers, and inspired
            thinkers, we are building a better Bakersfield. If you're local,
            please join us by visiting the space, and supporting your local
            developer community.</p>
        </div>
      </div>

      </div>
    </div>

  </div>
</div>
