<div id="main-wrapper">
  <div id="main" class="container">

    <a name="consulting"></a>
    <header>
      <h2 class="major"><span>Our Happy Clients</span></h2>
    </header>

    <div class="row 200%">
      <div class="12u">
        <p>Mershon Enterprises primarily services other service-oriented
        businesses. We like working with people who understand and value
        technology. We work with you to create efficient, cost- and time-saving
        software solutions to your biggest problems.</p>

        <p>Good software is more than business automation and generating
        reports. With every project we undertake, our goal is to ultimately work
        ourselves out of a job. We build reliable, anti-fragile software that is
        designed to be highly fault-tolerant, automatically scalable, and easily
        maintained.</p>

        <section class="box highlight">
          <ul class="special">
            <li ng-click="scrollToDescription()" ng-mousedown="changeContent('south-valley-dietetics')">
              <div>South Valley Dietetics</div>
              <img src="images/consulting/south-valley-demo.png">
            </li>
            <li ng-click="scrollToDescription()" ng-mousedown="changeContent('bako-well-testing')">
              <div>A Bakersfield Well Testing Company</div>
              <img src="images/consulting/bako-well-testing-hydra-demo.png">
            </li>
            <li ng-click="scrollToDescription()" ng-mousedown="changeContent('exclusive-technologies')">
              <div>Exclusive Technologies</div>
              <img src="images/consulting/exclusive-techs-demo.png">
            </li>
            <li ng-click="scrollToDescription()" ng-mousedown="changeContent('ampcognition')">
              <div>AMPCognition and NetSuite</div>
              <img src="images/consulting/ampcognition-demo.png">
            </li>
            <li ng-click="scrollToDescription()" ng-mousedown="changeContent('transystems')">
              <div>TranSystems</div>
              <img src="images/consulting/transystemsllc-demo.png">
            </li>
            <li ng-click="scrollToDescription()" ng-mousedown="changeContent('evperks')">
              <div>EVPerks</div>
              <img src="images/consulting/evperks-demo.png">
            </li>
            <li ng-click="scrollToDescription()" ng-mousedown="changeContent('cenotaph')">
              <div>Cenotaph Memorials</div>
              <img src="images/consulting/cenotaph-demo.png">
            </li>
          </ul>

          <div class="highlight-description" ng-switch="consultingContentState">

            <div ng-switch-when="south-valley-dietetics">
              <header>
                <h2>South Valley Dietetics</h2>
                <p>Industry Association Website</p>
              </header>
              <p>
                South Valley Dietetics is an organization for dietitians located
                in the southern region of the San Joaquin Valley. We have been
                maintaining their online presence for many years, helping them
                stay in communication and share opportunities, legislative
                changes, and information about upcoming events.
              </p>
              <ul class="technologies">
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="Grails" class="image" src="images/technologies/grails-icon.png"></li>
              </ul>
            </div>

            <div ng-switch-when="bako-well-testing">
              <header>
                <h2>A Bakersfield Well Testing Company</h2>
                <p></p>
              </header>
              <p>
                A well testing company based in Bakersfield who wishes to remain
                private was about to lose one of their biggest clients due to
                falling behind on their reporting and invoicing. We built them
                custom interfaces to our business solutions platform Hydra, to
                streamline their reporting process. They kept their client, and
                now their reporting is nearly completely automated and they
                never fall behind!
              </p>
              <ul class="technologies">
                <li><img title="Clojure" class="image" src="images/technologies/clojure-icon.png"></li>
                <li><img title="PostgreSQL" class="image" src="images/technologies/postgres-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="EmberJS" class="image" src="images/technologies/ember-icon.png"></li>
              </ul>
            </div>

            <div ng-switch-when="exclusive-technologies">
              <header>
                <h2>Exclusive Technologies</h2>
                <p>IT Services</p>
              </header>
              <p>
                Exclusive Technologies provides IT services to businesses in the
                Bakersfield area. We built them a new mobile-first website.
              </p>
              <ul class="technologies">
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="AngularJS" class="image" src="images/technologies/angular-icon.png"></li>
              </ul>
            </div>

            <div ng-switch-when="ampcognition">
              <header>
                <h2>AMPCognition and NetSuite</h2>
                <p>Entity Resource Planning</p>
              </header>
              <p>
                NetSuite sells a group of software services used to manage a
                business's operations and customer relations. AMPCognition is
                one of their integrators. When they had a consultant warn that
                they weren't going to make their deadline for a big media client
                in California, we stepped in and finished the job for them, on
                their original deadline.
              </p>
              <ul class="technologies">
                <li><img title="NetSuite OneWorld" class="image" src="images/technologies/netsuite-icon.png"></li>
                <li><img title="Node.js" class="image" src="images/technologies/node-icon.png"></li>
              </ul>
            </div>

            <div ng-switch-when="transystems">
              <header>
                <h2>TranSystems</h2>
                <p>Agricultural Trucking</p>
              </header>
              <p>
                TranSystems needed a new mobile-first website before the 2015
                harvest season. They were looking to hire new drivers, and
                wanted their site to work equally well for English and Spanish
                speakers/readers. We did all that, and even integrated their
                existing database.
              </p>
              <ul class="technologies">
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="AngularJS" class="image" src="images/technologies/angular-icon.png"></li>
                <li><img title="ASP.NET" class="image" src="images/technologies/aspnet-icon.jpg"></li>
              </ul>
            </div>

            <div ng-switch-when="evperks">
              <header>
                <h2>EVPerks</h2>
                <p>Incentives Platform for Drivers of Electric Vehicles</p>
              </header>
              <p>
                EVPerks is a service offering businesses a platform to
                reach target customers through incentives offerings for drivers
                of electric vehicles. EVPerks needed a quick mobile-first web
                design until they can finish their relaunch this year. We helped
                them out.
              </p>
              <ul class="technologies">
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="AngularJS" class="image" src="images/technologies/angular-icon.png"></li>
                <li><img title="MailChimp" class="image" src="images/technologies/mailchimp-icon.jpg"></li>
              </ul>
            </div>

            <div ng-switch-when="cenotaph">
              <header>
                <h2>Cenotaph Memorials</h2>
                <p>Virtual Memorials and Donations platform</p>
              </header>
              <p>
                Cenotaph Memorials is a platform for hosting virtual memorials
                for friends, family, pets, and celebrities, and donating to
                charities in their honor. We developed the entire application
                platform, database, and server infrastructure for Cenotaph, and
                are their chief solutions provider.
              </p>
              <ul class="technologies">
                <li><img title="Clojure" class="image" src="images/technologies/clojure-icon.png"></li>
                <li><img title="PostgreSQL" class="image" src="images/technologies/postgres-icon.png"></li>
                <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
                <li><img title="AngularJS" class="image" src="images/technologies/angular-icon.png"></li>
                <li><img title="Ionic Framework" class="image" src="images/technologies/ionic-icon.png"></li>
                <li><img title="SendGrid" class="image" src="images/technologies/sendgrid-icon.png"></li>
              </ul>
            </div>

          </div>
        </section>

    <header>
      <h2 class="major"><span>There's more, but you'll have to trust us.</span></h2>
    </header>

    <div class="row 200%">
      <div class="12u">
        <p>Due to the nature of the work we do (particularly in the accounting
        and ERP space), we're often bound under mutual non-disclosure
        agreements. We honor the agreements we make with our customers, even
        when it means cutting ourselves short on opportunities to advertise or
        showcase testimonials.</p>
      </div>
    </div>

  </div>
</div>
