<div id="banner-wrapper">
  <section id="banner">
    <h2>Do you know what your project needs?</h2>
    <a ng-click="scrollToContact()" class="button">Let's start today.</a>
  </section>
</div>

<div id="main-wrapper">
  <div id="main" class="container">

    <div class="row 200%">
      <div class="12u">

        <section class="box highlight">
          <ul class="special" ng-mouseleave="changeContent('default')">
            <li ng-mouseenter="changeContent('modern')">
              <i class="fa fa-html5"></i><span>Modern Web</span>
            </li>
            <li ng-mouseenter="changeContent('mobile')">
              <i class="fa fa-tablet"></i><span>Mobile Templates</span>
            </li>
            <li ng-mouseenter="changeContent('security')">
              <i class="fa fa-lock"></i><span>Security</span>
            </li>
            <li ng-mouseenter="changeContent('cloud')">
              <i class="fa fa-cloud"></i><span>Cloud Solutions</span>
            </li>
          </ul>
          <div ng-switch="homeContentState">
            <div ng-switch-when="default">
              <header >
                <h2>Developing the Modern Web</h2>
                <p>Customers expect perfection from their apps. We can provide that.</p>
              </header>
              <p>
                We are a modern company, prepared for the modern web. Websites aren't just about hosting information and pictures anymore. They're full-on applications that must respond to the user's every touch, gesture and command all while keeping personal information secure and being invincible to virtually any disaster.
              </p>
            </div>
            <div ng-switch-when="modern">
              <header >
                <h2>Latest Coding Standards</h2>
                <p>Don't get sold something out of date</p>
              </header>
              <p>
                Our industry evolves and changes faster than any other. New technologies appear and vanish almost weekly and the complexity of web-development is always growing. We use modern tools and best practices to make code maintainable, ensuring you're never stuck with a mess.              </p>
            </div>
            <div ng-switch-when="mobile">
              <header >
                <h2>Mobile-Ready Templates</h2>
                <p>Customers expect perfection from their apps. We can provide that.</p>
              </header>
              <p>
                Customers are free to take the web with them. And now it's common to expect them to see your product on screens as large as a wall and as small as a wristwatch. Your web application should be aware of how it's being seen and adjust, looking perfect on monitors, tablets and mobile phones.
              </p>
            </div>
            <div ng-switch-when="security">
              <header >
                <h2>Security-First Design</h2>
                <p>Don't lose their trust</p>
              </header>
              <p>
                A modern web application needs to know its customers to serve them best. This knowledge is intimate and personal, losing it means losing the customer and we'll do our best to ensure that does not happen. We will even work your existing security infrastructure if you've already invested.
              </p>
            </div>
            <div ng-switch-when="cloud">
              <header >
                <h2>Distributed Solutions in the Cloud</h2>
                <p>Powerful and Everywhere</p>
              </header>
              <p>
                Applications that become part of a customer's life don't just run from one place. They run in tandem with other applications all over the web. Running in the cloud makes your application resilient and prevasive all without the enormous costs of "doing it yourself".
              </p>
            </div>
          </div>

        </section>

      </div>
    </div>

    <div class="row 200%">
      <div class="12u">

        <section class="box features">
          <h2 class="major"><span>But why us?</span></h2>
          <div>
            <div class="row">
              <div class="3u">

                  <section class="box feature">
                    <img class="image featured" src="images/pic01.png" alt="" />
                    <h3>We're Earning Trust Every Day</h3>
                    <p>
                      We want to build lasting healthy relationships with our clients. The best code is written by programmers who understand their clients needs and are invested in their success.
                    </p>
                  </section>

              </div>
              <div class="3u">

                  <section class="box feature">
                    <img class="image featured" src="images/pic02.png" alt="" />
                    <h3>We Know Our Stuff</h3>
                    <p>
                      Mershon Enterprises is developer-owned, which means those who are the most knowledgeable about software development are the ones analyzing your unique situation. This means no more promising the moon and apologizing later.
                    </p>
                  </section>

              </div>
              <div class="3u">

                  <section class="box feature">
                    <img class="image featured" src="images/pic03.png" alt="" />
                    <h3>The Best Tool For Every Job</h3>
                    <p>
                      We use the latest tools and are always looking on the horizon for what could be coming up next. This makes us faster than competitors that are only committed to routine.
                    </p>
                  </section>

              </div>
              <div class="3u">

                  <section class="box feature">
                    <img class="image featured" src="images/pic04.png" alt="" />
                    <h3>A New Kind Of Company</h3>
                    <p>
                      We want to modernize how software is made. We believe that a highly-communicative, transparent business model with minimal overhead will create a better world for developer and community alike.
                    </p>
                  </section>

              </div>
            </div>
            <div class="row">
              <div class="12u">
                <ul class="actions">
                  <li><a ng-click="scrollToContact()" class="button big">Ready To Start Your Project?</a></li>
                  <li><a ng-href="#/showcase" class="button alt big">Want to see what we've already done?</a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>
