<!-- Banner -->
<div id="banner-wrapper">
  <section id="banner">
    <h2>Are you ready to start your project?</h2>
    <a href="#" class="button">Alright let's go</a>
  </section>
</div>

<!-- Main -->
<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row 200%">
      <div class="12u">

        <!-- Highlight -->
          <section class="box highlight">
            <ul class="special">
              <li><i class="fa fa-search"></i></li>
              <li><i class="fa fa-tablet"></i></li>
              <li><i class="fa fa-flask"></i></li>
              <li><i class="fa fa-cog"></i></li>
            </ul>
            <header>
              <h2>A random assortment of icons in circles</h2>
              <p>And some text that attempts to explain their significance</p>
            </header>
            <p>
              Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper mod quis eget mi. Etiam eu<br />
              ante risus. Aliquam erat volutpat. Aliquam luctus et mattis lectus amet pulvinar. Nam nec turpis consequat.
            </p>
          </section>

      </div>
    </div>
    <div class="row 200%">
      <div class="12u">

        <!-- Features -->
          <section class="box features">
            <h2 class="major"><span>Why us?</span></h2>
            <div>
              <div class="row">
                <div class="3u">

                  <!-- Feature -->
                    <section class="box feature">
                      <img class="image featured" src="images/pic01.png" alt="" />
                      <h3>We're Earning Trust Every Day</h3>
                      <p>
                        We want to build lasting healthy relationships with our clients. The best code is written by programmers who understand their clients needs and are invested in their success.
                      </p>
                    </section>

                </div>
                <div class="3u">

                  <!-- Feature -->
                    <section class="box feature">
                      <img class="image featured" src="images/pic02.png" alt="" />
                      <h3>We Know Our Stuff</h3>
                      <p>
                        Slixbits is developer-owned, which means those who are the most knowledgeable about software development are the ones analyzing your unique situation. This means no more promising the moon and apologizing later.
                      </p>
                    </section>

                </div>
                <div class="3u">

                  <!-- Feature -->
                    <section class="box feature">
                      <img class="image featured" src="images/pic03.png" alt="" />
                      <h3>The Best Tool For Every Job</h3>
                      <p>
                        We use the latest tools and are always looking on the horizon for what could be coming up next. This makes us faster than competitors that are only committed to routine.
                      </p>
                    </section>

                </div>
                <div class="3u">

                  <!-- Feature -->
                    <section class="box feature">
                      <img class="image featured" src="images/pic04.png" alt="" />
                      <h3>A New Kind Of Company</h3>
                      <p>
                        We want to modernize how software is made. We believe that a highly-communicative, transparent business model with minimal overhead will create a better world for developer and community alike.
                      </p>
                    </section>

                </div>
              </div>
              <div class="row">
                <div class="12u">
                  <ul class="actions">
                    <li><a href="#" class="button big">Do Something</a></li>
                    <li><a href="#" class="button alt big">Think About It</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>

      </div>
    </div>
    <div class="row 200%">
      <div class="12u">

        <!-- Blog -->
        <section class="box blog">
          <h2 class="major"><span>Another Major Heading</span></h2>
          <div>
            <div class="row">
              <div class="9u">
                <div class="content content-left">

                  <!-- Featured Post -->
                    <article class="box post">
                      <header>
                        <h3><a href="#">Here's a really big heading</a></h3>
                        <p>With a smaller subtitle that attempts to elaborate</p>
                        <ul class="meta">
                          <li><i class="fa fa-clock-o"></i>15 minutes ago</li>
                          <li><i class="fa fa-comments"></i><a href="#">8</a></li>
                        </ul>
                      </header>
                      <a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
                      <p>
                        Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in lectus. Praesent
                        semper mod quis eget mi. Etiam sed ante risus aliquam erat et volutpat. Praesent a
                        dapibus velit. Curabitur sed nisi nunc, accumsan vestibulum lectus. Lorem ipsum
                        dolor sit non aliquet sed, tempor et dolor.  Praesent a dapibus velit. Curabitur
                        accumsan.
                      </p>
                      <a href="#" class="button">Continue Reading</a>
                    </article>

                </div>
              </div>
              <div class="3u">
                <div class="sidebar">

                  <!-- Archives -->
                    <ul class="divided">
                      <li>
                        <article class="box post-summary">
                          <h3><a href="#">A Subheading</a></h3>
                          <ul class="meta">
                            <li><i class="fa fa-clock-o"></i>6 hours ago</li>
                            <li><i class="fa fa-comments"></i><a href="#">34</a></li>
                          </ul>
                        </article>
                      </li>
                      <li>
                        <article class="box post-summary">
                          <h3><a href="#">Another Subheading</a></h3>
                          <ul class="meta">
                            <li><i class="fa fa-clock-o"></i>9 hours ago</li>
                            <li><i class="fa fa-comments"></i><a href="#">27</a></li>
                          </ul>
                        </article>
                      </li>
                      <li>
                        <article class="box post-summary">
                          <h3><a href="#">And Another</a></h3>
                          <ul class="meta">
                            <li><i class="fa fa-clock-o"></i>Yesterday</li>
                            <li><i class="fa fa-comments"></i><a href="#">184</a></li>
                          </ul>
                        </article>
                      </li>
                      <li>
                        <article class="box post-summary">
                          <h3><a href="#">And Another</a></h3>
                          <ul class="meta">
                            <li><i class="fa fa-clock-o"></i>2 days ago</li>
                            <li><i class="fa fa-comments"></i><a href="#">286</a></li>
                          </ul>
                        </article>
                      </li>
                      <li>
                        <article class="box post-summary">
                          <h3><a href="#">And One More</a></h3>
                          <ul class="meta">
                            <li><i class="fa fa-clock-o"></i>3 days ago</li>
                            <li><i class="fa fa-comments"></i><a href="#">8,086</a></li>
                          </ul>
                        </article>
                      </li>
                    </ul>
                    <a href="#" class="button alt">Browse Archives</a>
                </div>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
