<div class="row 200%">
  <div class="12u">

    <section class="box highlight">
      <ul class="special">
        <li><i class="fa fa-search"></i></li>
        <li><i class="fa fa-tablet"></i></li>
        <li><i class="fa fa-flask"></i></li>
        <li><i class="fa fa-cog"></i></li>
      </ul>
      <header>
        <h2>A random assortment of icons in circles</h2>
        <p>And some text that attempts to explain their significance</p>
      </header>
      <p>
        Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper mod quis eget mi. Etiam eu<br />
        ante risus. Aliquam erat volutpat. Aliquam luctus et mattis lectus amet pulvinar. Nam nec turpis consequat.
      </p>
    </section>

  </div>
</div>

<div class="row 200%">
  <div class="12u">

    <section class="box features">
      <h2 class="major"><span>Why us?</span></h2>
      <div>
        <div class="row">
          <div class="3u">

              <section class="box feature">
                <img class="image featured" src="images/pic01.png" alt="" />
                <h3>We're Earning Trust Every Day</h3>
                <p>
                  We want to build lasting healthy relationships with our clients. The best code is written by programmers who understand their clients needs and are invested in their success.
                </p>
              </section>

          </div>
          <div class="3u">

              <section class="box feature">
                <img class="image featured" src="images/pic02.png" alt="" />
                <h3>We Know Our Stuff</h3>
                <p>
                  Slixbits is developer-owned, which means those who are the most knowledgeable about software development are the ones analyzing your unique situation. This means no more promising the moon and apologizing later.
                </p>
              </section>

          </div>
          <div class="3u">

              <section class="box feature">
                <img class="image featured" src="images/pic03.png" alt="" />
                <h3>The Best Tool For Every Job</h3>
                <p>
                  We use the latest tools and are always looking on the horizon for what could be coming up next. This makes us faster than competitors that are only committed to routine.
                </p>
              </section>

          </div>
          <div class="3u">

              <section class="box feature">
                <img class="image featured" src="images/pic04.png" alt="" />
                <h3>A New Kind Of Company</h3>
                <p>
                  We want to modernize how software is made. We believe that a highly-communicative, transparent business model with minimal overhead will create a better world for developer and community alike.
                </p>
              </section>

          </div>
        </div>
        <div class="row">
          <div class="12u">
            <ul class="actions">
              <li><a href="#" class="button big">Do Something</a></li>
              <li><a href="#" class="button alt big">Think About It</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
