<div id="main-wrapper">
  <div id="main" class="container">

    <a name="kernlearn"></a>
    <header>
      <h2 class="major"><span>Kern Learn</span></h2>
    </header>

    <h2 class="right">White-label solution for free and paid educational courses.</h2>
    <div class="row 200%">
      <div class="6u product">
        <img class="image featured" src="images/products/kernlearn-demo.png">
        <ul class="technologies">
          <li><img title="Clojure" class="image" src="images/technologies/clojure-icon.png"></li>
          <li><img title="PostgreSQL" class="image" src="images/technologies/postgres-icon.png"></li>
          <li><img title="HTML5" class="image" src="images/technologies/html5-icon.png"></li>
          <li><img title="React" class="image" src="images/technologies/react-icon.png"></li>
        </ul>
      </div>
      <div class="6u">
        <p>Kern Learn is a Clojure and ClojureScript web application designed
        as a consumer-facing platform for hosting free and paid courses for
        secondary education. It is unique in that it allows for convenient
        posting of multi-session, multi-venue courses with varying times and
        durations for a single price per unit. Payment processing is facilitated
        through <a href="https://stripe.com" target="_blank">Stripe</a>.</p>
        <p>Kern Learn is proprietary to Mershon Enterprises and available as a
        paid white-label solution for businesses offering educational
        opportunities.</p>
        <p>You can see a live, in-production version of KernLearn used to offer
        courses for <a href="http://meshcowork.com" target="_blank">Mesh
          Cowork</a> at <a href="http://kernlearn.io"
          target="_blank">KernLearn.io</a>.</p>
      </div>
    </div>

  </div>
</div>

