<div id="main-wrapper">
  <div id="main" class="container">

    <header>
      <h2 class="major"><span>Hydra</span></h2>
    </header>

    <h2 class="right">Data Collection and Tracking Tool</h2>
    <div class="row 200%">
      <div class="6u product">
        <img class="image featured" src="images/hydra-demo.png">
        <ul class="technologies">
          <li><img class="image" src="images/angular-icon.png"></li>
          <li><img class="image" src="images/clojure-icon.png"></li>
          <li><img class="image" src="images/postgres-icon.png"></li>
        </ul>
      </div>
      <div class="6u">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>
      </div>
    </div>

    <header>
      <h2 class="major"><span>Wireless-Hart Mobile App</span></h2>
    </header>

    <h2>Mobile Gatway Interface</h2>
    <div class="row 200%">
      <div class="7u">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>
      </div>
      <div class="5u">
        <img class="image featured" src="images/wireless-hart-demo.png">
        <ul class="technologies">
          <li><img class="image" src="images/angular-icon.png"></li>
          <li><img class="image" src="images/ionic-icon.png"></li>
        </ul>
      </div>
    </div>

    <header>
      <h2 class="major"><span>South Valley Dietetics</span></h2>
    </header>

    <h2 class="right">Nutrition Website</h2>
    <div class="row 200%">
      <div class="5u">
        <img class="image featured" src="images/south-valley-demo.png">
        <ul class="technologies">
          <li><img class="image" src="images/html5-icon.png"></li>
        </ul>
      </div>
      <div class="7u">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>
      </div>
    </div>

    <a ng-click="scrollToContact()" class="button big">Ready To Start Your Project?</a>
  </div>
</div>
