<div id="main-wrapper">
  <div id="main" class="container">

    <a name="hydra"></a>
    <header>
      <h2 class="major"><span>Hydra</span></h2>
    </header>

    <h2 class="right">Distributed Data Collection and Warehousing</h2>
    <div class="row 200%">
      <div class="6u product">
        <img class="image featured" src="images/hydra-demo.png">
        <ul class="technologies">
          <li><img title="Angular.js" class="image" src="images/angular-icon.png"></li>
          <li><img title="Clojure" class="image" src="images/clojure-icon.png"></li>
          <li><img title="PostgreSQL" class="image" src="images/postgres-icon.png"></li>
        </ul>
      </div>
      <div class="6u">
        <p>Hydra is a distributed web application designed for generalized data
        collection and warehousing. Designed from the ground-up to maximize
        portability, the core doesn't rely on any specific Cloud platform. You
        can self-host it, host it on a VPS, or host it on Amazon Web Services
        equally well. The base system comes with a File Explorer interface for
        easily uploading, finding, and manipulating binary files stored to the
        system, and the common REST API can be reutilized to implement any kind
        of custom implementation specific to your domain, such as browser
        plugins, webapps, and native mobile applications. Hydra is open source
        under the GNU General Public License v3, and the source materials are
        available for download from the <a
          href="https://github.com/mershon-enterprises/hydra-core"
          target="_blank">Mershon Enterprises GitHub.com account</a>.
        </p>
      </div>
    </div>

    <a name="wh-hero"></a>
    <header>
      <h2 class="major"><span>WH Hero</span></h2>
    </header>

    <h2>Interactive data collection and visualization of WirelessHART mesh data</h2>
    <div class="row 200%">
      <p class="12u">
        WH Hero is a mobile application developed with the Ionic Framework and
        HART-IP, allowing you to easily connect to a WirelessHART Gateway and
        quickly interact with and visualize the collective dataset of a
        WirelessHART wireless mesh. <a
          href="https://play.google.com/store/apps/details?id=com.ionicframework.hydra151744"
          target="_blank">WH Hero is available now on Google Play</a>, and
        pending review on the Apple App Store. WH Hero is open source under the
        GNU General Public License v3, and the source materials are available
        for download from the <a
          href="https://github.com/mershon-enterprises/wh-hero"
          target="_blank">Mershon Enterprises GitHub.com account</a>.
      </p>
      <div class="3u">
        <img class="image featured" src="images/products/wh-hero/wh-hero-000-dashboard.png">
      </div>
      <div class="3u">
        <img class="image featured" src="images/products/wh-hero/wh-hero-001-transmitters.png">
      </div>
      <div class="3u">
        <img class="image featured" src="images/products/wh-hero/wh-hero-002-measurement.png">
      </div>
      <div class="3u">
        <img class="image featured" src="images/products/wh-hero/wh-hero-003-mesh.png">
      </div>
      <div class="12u">
        <ul class="technologies">
          <li><img title="Angular.js" class="image" src="images/angular-icon.png"></li>
          <li><img title="Ionic Framework" class="image" src="images/ionic-icon.png"></li>
          <li><img title="Apache Cordova" class="image" src="images/cordova-icon.png"></li>
          <li><img title="HART-IP" class="image" src="images/hart-ip-icon.png"></li>
          <li>
              <a href="https://play.google.com/store/apps/details?id=com.ionicframework.hydra151744"
                target="_blank">
                <img class="image" src="images/get-it-on-google-play.png">
              </a>
          </li>
        </ul>
      </div>
    </div>

    <a name="clients"></a>
    <header>
      <h2 class="major"><span>Clients</span></h2>
    </header>

    <div class="row 200%">
      <div class="12u">

        <section class="box highlight">
          <ul class="special" ng-mouseleave="changeContent('default')">
            <li ng-click="scrollToDescription()" ng-mouseenter="changeContent('south-valley-dietetics')">
              <img src="images/south-valley-demo.png"><span>South Valley Dietetics</span>
            </li>
            <li ng-click="scrollToDescription()" ng-mouseenter="changeContent('exclusive-technologies')">
              <img src="images/exclusive-techs-demo.png"><span>Exclusive Technologies</span>
            </li>
          </ul>
          <div class="highlight-description" ng-switch="showcaseContentState">
            <div ng-switch-when="default">
              <header >
                <h2>Default Header</h2>
                <p>Default Sub-header</p>
              </header>
              <p>
                DEFAULT!
              </p>
            </div>
            <div class="highlight-description" ng-switch-when="south-valley-dietetics">
              <header >
                <h2>South Valley Dietetics</h2>
                <p>Industry Association Website</p>
              </header>
              <p>
                South Valley Dietetics is an organization for dietitians located
                in the southern region of the San Joaquin Valley. Kevin Mershon
                has been maintaining their online presence on their behalf for
                many years.
              </p>
            </div>
            <div class="highlight-description" ng-switch-when="exclusive-technologies">
              <header >
                <h2>Exclusive Technologies</h2>
                <p>IT Services Website</p>
              </header>
              <p>
                Exclusive Technologies provies IT services to businesses in the
                Bakersfield area. Designed using AngularJS routing and the HTML5
                Up Halcyonic template.
              </p>
            </div>
          </div>

        </section>

      </div>
    </div>

    <div class="row">
      <div class="12u">
        <ul class="actions">
          <li><a ng-click="scrollToContact()" class="button big">Get Started Today</a></li>
        </ul>
      </div>
    </div>
  </div>

  </div>
</div>
