<footer id="footer" class="container">

  <div class="row">
    <div class="12u">
      <section>
        <h2 class="major"><span>Contact Us</span></h2>
      </section>
    </div>
    <div class="7u">

        <form>

          <div ng-submit="contactUs()">
            <label for="name">Name</label>
            <input name="name" type="text" /><br>
          </div>

          <div>
            <label for="company">Company</label>
            <input name="company" type="text" /><br>
          </div>

          <div>
            <label for="email">E-Mail</label>
            <input name="email" type="email" /><br>
          </div>

          <div>
            <label for="message">Message</label>
            <textarea name="message" /><br>
          </div>

          <div>
            <input type="submit">
          </div>
        </form>

    </div>
    <div class="5u">
        <ul class="contact_info">
          <li><strong>Phone</strong>(661) 425-9099</li>
          <li><strong>Email</strong><a href="mailto:kevin@mershon.enterprises">kevin@mershon.enterprises</a></li>
        </ul>
    </div>
  </div>

  <div class="row 200%">
    <div class="12u">

        <section>
          <h2 class="major"><span>Follow us</span></h2>
          <ul class="contact">
            <li><a href="https://facebook.com/mershon.enterprises" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://plus.google.com/118422838433657907306/about" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://www.linkedin.com/company/mershon-enterprises-llc" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </section>

    </div>
  </div>

  <div id="copyright">
    <ul class="menu">
      <li>&copy; Mershon Enterprises LLC</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>

</footer>
