<footer id="footer" class="container">

  <div class="row">
    <div class="12u">
      <section>
        <h2 class="major"><span>Contact Us</span></h2>
      </section>
    </div>
    <div class="7u">

        <form>

          <div>
            <label for="name">Name</label>
            <input name="name" type="text" /><br>
          </div>

          <div>
            <label for="company">Company</label>
            <input name="company" type="text" /><br>
          </div>

          <div>
            <label for="email">E-Mail</label>
            <input name="email" type="email" /><br>
          </div>

          <div>
            <label for="message">Message</label>
            <textarea name="message" /><br>
          </div>

          <div>
            <input type="submit">
          </div>
        </form>

    </div>
    <div class="5u">
        <p>Contact info goes here.</p>
    </div>
  </div>

  <div class="row 200%">
    <div class="12u">

        <section>
          <h2 class="major"><span>Follow us</span></h2>
          <ul class="contact">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </section>

    </div>
  </div>

  <div id="copyright">
    <ul class="menu">
      <li>&copy; Mershon Enterprises</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>

</footer>
